
#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}
img{max-width: 100%;}
@font-face {
    font-family: "Segoe UI";
    src: url("static/templates/fonts/new/segoeui.ttf");
}
@font-face {
    font-family: "Georgia";
    src: url("static/templates/fonts/Georgia.ttf");
}
@font-face {
    font-family: "Segoe UI Bold";
    src: url("static/templates/fonts/new/segoeuib.ttf");
}
@font-face {
    font-family: "segoe-italic";
    src: url("static/templates/fonts/new/segoeuii.ttf");
}

@font-face {
    font-family: "Segoe UI";
    src: url("static/templates/fonts/Segoe/Segoeui2.ttf");
}
@font-face {
    font-family: "Segoe UI Bold";
    src: url("static/templates/fonts/Segoe/Segoeuib.ttf");
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "Segoe UI"!important;
    font-size:13px;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: "Segoe UI"!important;
    font-size:13px;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: "Segoe UI"!important;
    font-size:13px;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: "Segoe UI"!important;
    font-size:13px;
}


.equipments-content-info-container tr {
    border-bottom: 2px dotted #8b7836;
}

.infrastructure-top-menu-block.col-sm-4.col-6 .infrastructure-top-menu-link
{
    border:2px dotted #8b7836;
}

a.infrastructure-top-menu-link2.active2 {
    background-color: #8b7836;
    color: #fff;
}
.infrastructure-top-menu-block2.col-sm-4.col-6 .infrastructure-top-menu-link2
{

    border:2px dotted #8b7836;
}
.infrastructure-top-menu-block.col-sm-4.col-6 .infrastructure-top-menu-link:hover{

   background-color: #8b7836;
    color:#ddd;
}
.carousel-img{
    background: url("../images/home-slider.jpg")no-repeat center center;
    background-size: cover!important;
    height: 300px;
}
.carousel-item-next {
    /*position: absolute;
    top: -136px; */
    /*display: none;*/
}
.carousel-item-prev {
    /* position: absolute;
     top: -136px; */
    /* display: none;*/
 }

 html,body {
     height: 100%;
 }
 * {
     box-sizing: border-box;
     outline: 0 !important;

 }
 body {
     font-family:"Segoe UI" ;
 }
 * {
     margin: 0;
     padding: 0;
 }
 b, strong {
     font-family: "Segoe UI Bold";
 }
 i {
     font-family: "segoe-italic";
 }
 a {
     text-decoration: none;
 }
 a:hover {
     text-decoration: none;
 }
 ul, li {
     list-style-type: none;
 }
 span {
     font-family: "Segoe UI"!important;
 }
 p {
     font-family: "Segoe UI"!important;
 }
 li{
     font-family: "Segoe UI"!important;
 }

 .menu-item2:last-child a {
     border-right: none;
 }



 .left-top
 {
     background: url("static/templates/images/assets/top/dotted_top.png");
     height: 201px;
     width: 154px;
     background-repeat: no-repeat;
 }
 .right-top
 {
     background: url("static/templates/images/assets/top/dotted_top.png");
     height: 201px;
     width: 154px;
     background-repeat: no-repeat;
 }
 .right-bottom-search {
     background: url("static/templates/images/assets/top/dotted_top.png");
     height: 401px;
     width: 155px;
     background-repeat: no-repeat;
 }
 .left-bottom
 {
     background: url("static/templates/images/assets/top/dotted.png");
     height: 401px;
   /*  width: 201px; */
    width:153px;
    background-repeat: no-repeat;
}
.right-bottom
{
    background: url("static/templates/images/assets/top/dotted.png");
    height: 401px;
   /* width: 201px; */
    width:153px;
    background-repeat: no-repeat;
}


.header-center
{
    margin-left: 0px;
}
.header{
    display: flex;
}
.mobile-menu-container{
    height: 57px;
    background-color: #8b7736;
    display: none;
}
.mobile-custom-container{
    margin: 0 40px;
}
.mobile-header-left, .mobile-header-right{
    margin-top: 9px;
}
.header-bottom-container{
    margin: 0 48px 0px 48px;
}
.header-bottom-right{
    padding-top: 17px;
}
.mobile-menu-button{
    padding-top: 8px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
}
.center-line{
    position: relative;
    height: 3px;
    width: 31px;
    background: #fff;
    display: block;
    margin: 7px 0;
}
.center-line-none{
    display: none;
}
.mobile-menu-button:before, .mobile-menu-button:after {
    content: '';
    position: relative;
}
.mobile-menu-button:before{
    width: 31px;
    top: 1px;
    border: 1.5px solid #fff;
    display: block;
}
.mobile-menu-button:after{
    width: 31px;
    top: -1px;
    border: 1.5px solid #fff;
    display: block;
}
.rotate-elements:before{
    transform: rotate(45deg);
    top: 2px;
}
.rotate-elements:after{
    transform: rotate(-45deg);
}
.header-bottom-left, .header-bottom-right{
    display: none;
}





.custom-container{
    max-width: 860px;
    margin: 0 auto;
}

.custom-apply-form-container{
    max-width: 682px;
    margin: 0 auto;
}

.header-top {
    padding: 36px 0;
}
.header-left{

    margin-top:14px;
}
.header-mobile-right-container{margin-top: -15px;}

@media (max-width:580px) {
    .header .custom-container {
        max-width: 760px;
    }

}

@media (min-width:580px) {
    .header .custom-container {
        width: 760px;
    }

}
.header-logo img{
    width: 235px;
    height: 136px;
}
.tel-1{
    font-size: 21px;
    font-family: "Segoe UI Bold";
    display: inline-block;
    margin-top: -3px;
}
.tel-2 {
    font-size: 13px;
    position: absolute;
    top: 3px;
/*    left: 60px; */
    left: 40px;
}

.header-search-close
{
    display: none;
}
.header-container{
    margin-top: 29px;
}
.header-elaqe{
    position: relative;
}
.header-elaqe img {
    position: absolute;
    top: 6px;
    left: -26px;
    width: 20px;
}
.header-logo {
    text-align: center;
    margin-left: -40px;
    margin-top: -1px;

}
.social-links{float:right}
.soc2 {
    display: block;
    width: 22px;
    height: 22px;
    background: url("static/templates/images/social-links2.png");
    float: left;
    margin-top: 5px;
    margin-right: 6px;
}
.prnt {
    background-position: -109px 0px;
}
.fb {
    background-position: 0px 0px;
}
.tw {
    background-position: -27px 0px;
}
.gplus {
    background-position: -54px 0px;
}
.gmail {
    background-position: -82px 0px;
}
img.logo-main {
    width: 150px;
}
.header-center-heading{
    position: relative;
    right: 3px;
    margin-top: 23px;
    font-size: 12px;
    font-weight: bold;
    color: #8b7736;
    letter-spacing: 0.2px;
    text-align: center;
    font-family: "Georgia";
    margin-bottom: 20px;
}
.header-right {
    margin-top: 11px;
}
.header-socials-facebook, .header-socials-twitter{
    display: inline-block;
    position: relative;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    border: 1px solid #c2ba8c;
}
.header-socials{
    text-align: right;
    margin-top: 10px;
    margin-left: 50px;
}
.header-socials-facebook i {
    position: absolute;
    top: 4px;
    left: 7px;
    font-size:13px;
}
.header-socials-twitter i {
    position: absolute;
    top: 5px;
    left: 4px;
    font-size: 13px;
}
.header-socials-twitter{
    margin-right: 20px;
}
.header-mobile-socials-facebook, .header-mobile-socials-twitter{
    display: inline-block;
    position: relative;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid #c2ba8c;
}
.header-mobile-socials{
    text-align: right;
    margin-top: 3px;
}
.header-mobile-socials-facebook i {
    position: absolute;
    top: 7px;
    left: 12px;
}
.header-mobile-socials-twitter i {
    position: absolute;
    top: 8px;
    left: 8px;
}
.header-mobile-socials-twitter{
    margin-right: 20px;
}
.fontstyle {
    color: #c2ba8c;
}
.header-top-search{
    margin-left: 11px;
    color: #000;
    font-size: 14px;
}
.header-search img{width:18px;}
.mobile-text{
    color: #fff;
}
.header-search{
    display: none;
    margin-top: 6px;
    color: #000;
}
.header-search-input-container{

    background-color: #fff;
    max-width: 290px;
    min-width: 240px;

}
@media (min-width: 768px) {

    .header-search-input-container
    {
        margin-left: -21px;
    }
    .header-search-input-container:after {
        content: "";
        display: block;
        margin-left: 27px;
        width: 57%;

        border-bottom: 1px solid #8b7736;
    }
}
.header-search-input{
    border: none;
    margin-left: 23px;
    width:50%;
    padding: 6px 5px;
}
.header-search-button{
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-left: 35px;
}
.header-search-close{
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.header-search-close img{
    margin-bottom: 2px;
}
.navigation-menu{
    background-color: #8b7836;
}
.menu-item {
    padding: 6px 7px;
}
.menu-item a {
    color: #fff;
    font-size: 14px;
    position: relative;
    font-family: "Segoe UI Bold";
}

.infrastructure-img.img-fluid
{
    height:auto;
}
.nav2{

    display: none;
    position: absolute;
    background-color: #a39662;
    left: 0;
    /*top: 350px;*/
    width: 100%;
    text-align: center;
    padding-left: 19%;

}
.map iframe{
    width: 100%;
    height: 350px;
}
.pagination1 a{
    font-size: 12px;
    color: #8b7736;
}
.pagination1 i{
    font-size: 15px;
}
.pagination1{
    margin-top: 1em;
}
.search-2{
    background-color: transparent;
    border: 2px dotted #8b7736;
    height: 35px;
    border-radius: 15px;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.find-icon{
    margin-bottom: 7px;
}
.address{
    margin-top: 1.5em;
}
.address p{
    font-size: 11px;
    line-height: 0px;
}
.address h6{
    color: #8b7736;
    font-weight: bold;
    font-size: 14px;
}
.address a{
    color: #8b7736;
}
.pagination2{
    margin-top: 1.5em;
}
.pagination2 li{
    padding-right: 45px;
}
.pagination2 a{
    color: black;
    font-weight: bold;
}
@media screen and (max-width: 1024px){
    .pagination2 li{
        padding-right: 38px;
    }
}
@media screen and (max-width: 768px){
    .pagination2 li{
        padding-right: 30px;
    }
}
@media screen and (max-width: 425px){
    .pagination2 li{
        padding-right: 10px;
    }
}
.end-row{
    margin-top: 3em;
}
.bas a{
    color: #8b7736;
}
.pagination3 .arrow1{
    margin-left: 40px;
}
.pagination3 span{
    color: white;
    padding-left: 7px;
    font-weight: bold;
}
.pagination3 li{
    width: 26px;
    background-color: #8b7736;
    margin-left: 4px;
}
.son a{
    padding-left: 55px;
    color: #8b7736
}
@media screen and (max-width: 1024px){
    .son a{
        padding-left: 78px;
    }
}
@media screen and (max-width: 768px){
    .son a{
        padding-left: 102px;
    }
}
@media screen and (max-width: 425px){
    .son a{
        padding-left: 0px;
    }
    .son{
        text-align: left !important;
    }
    .pagination3 .arrow1{
        margin-left: 0px;
    }
    .end-row{
        margin-top: 1em;
    }
}
.menu-item2{
    float: left;
}
.menu-item2 a {
    z-index: 10;
    font-family: "Segoe UI";
    font-size: 14px;
    display: block;
    padding: 0 30px;
   /* margin: 10px 0; */
    margin:2px 0;
    border-right: 1px solid #fff;
}
.chevron {
    width: 7px;
    height: 7px;
    float: left;
    box-shadow: -2px 2px 0 rgba(255,255,255,0.5);
    transform: rotate(225deg);
    margin-top: 8px;
    position: absolute;
    left: 15px;
}
.chevron-down{
    transform: rotate(-45deg);
    margin-top: 2px;
}

.fields-of-activity-container .col-md-3.col-6 {
    padding-left: 8px;
    padding-right: 8px;
}
.fields-of-activity-container{ 
    margin-top:56px;
}

.fields-of-activity-item{
    text-align: center;
    display: block;
    transition: all ease 0.3s;
}

.fields-of-activity .custom-container
{
    max-width:860px;
}

.fields-of-activity-item:hover{
    box-shadow: 0px 0px 26px #CCC;
}
.fields-of-activity-item:hover .fields-of-activity-texts-container{
    background-color: #8b7736;
}
.fields-of-activity-text{
    padding-top: 25px;
    font-size: 18px;
    font-family: "Segoe UI Bold"!important;
    color: #fff;
}
.fields-of-activity-texts-container{
    background-color: #c1b790;
    padding-bottom: 26px;
    transition: all ease 0.3s;
    margin: 0 auto;
}
.fields-of-activity-more{
    text-decoration: underline;
    color: #fff;
    font-size:14px;
}
.carousel-caption{
    position: relative;
    top:-60px;
    left: 58%;
    max-width: 570px;
    margin-left: -385px;
    height: 175px;
}
.carousel-caption h5{
    font-size: 17px;
    font-family: "Segoe UI Bold";
    color: #fff;
    padding: 13px;
}
.carousel-control-prev-icon{
    background: url(templates/static/images/assets/left-arrow.png) no-repeat center center;
    width: 90px;
    height: 90px;
}
.carousel-prev-next{
    text-align: center;
    margin-top: 7px;
}
.more-news-button {
    display: inline-block;
    padding: 7px 7px;
    font-size: 14px;
    color: #444444;
    border: 1px solid #8b7736;
    border-radius: 22px;
}
.more-news-button:hover{
    color: #444444;
}
.carousel-prev{margin-top: 104px; 
margin-left: 15px;
}
.carousel-next{margin-top:104px; margin-right: 15px;}
.d-md-block{
}
.carousel-control-next-icon{
    background: url(templates/static/images/assets/right-arrow.png) no-repeat center center;
    width: 90px;
    height: 90px;
}
.carousel-caption p {
    margin: 0 83px;
}
.news-archive{
    margin-top: 6px;
    float: left;
    margin-left: 30px;
}
.news-archive a{
    color: #000;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.main-head-image img{
    width: 100%;
    height: 305px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}
.mini-nav{
    margin-top: 1em;
}
.show>.btn-primary.dropdown-toggle{
    background-color: #8b7736;
    border: none;
}
.btn-primary:focus{
    box-shadow: none;
}
.show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none;
}

.main-buttons>.open>a{
    background-color: #8b7736;
}
.dropdown-menu-show{
    padding: 5px;
    width: 85%;
    border-radius: 16px;
    background-color: #8b7736;
}
.dropdown-menu-show a{
    color: black;
    font-weight: bold;
    text-align: center;
}
.main-buttons{
    background-color: transparent;
    color: black;
    border: 1px dotted #8b7736;
    border-radius: 20px;
    width: 15em;
}
.main-buttons:hover{
    background-color: #8b7736;
    border: none;
    transition: 0.5s;
}
.main-srch-btn{
    background-color: transparent;
    border: none;
    padding-left: 0px;
    width: 30px;
}
.main-srch-inp{
    width: 90px;
    background-color: transparent;
    border: none;
    padding-left: 13px;
}
.main-srch{
    border: 1px dotted #8b7736;
    width: 129px;
    border-radius: 20px;
}


@media screen and (max-width: 425px){
    .main-buttons{
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 768px){
    .main-buttons{
        margin-left: 30px;
        margin-bottom: 1em;
    }
    .main-buttons2{
        margin-left: 30px;
    }
    .main-srch{
        margin-left: 30px;
    }
}
@media screen and (max-width: 570px){
    .main-icons{
        margin-left: 17px;
    }
    .icn{
        margin-bottom: 1em;
    }
}
.main-icons{
    margin-top: 2em;
}
.main-icons a{
    color: black;
}
.main-icons .icn:hover{
    background-color: #8b7736;
    transition: 0.5s;
}
.main-icons a:hover{
    color: white;
}
.icn{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 130px;
}
.icn-img1{
    width: 95px;
    padding-left: 2em;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img2{
    width: 99px;
    padding-left: 2em;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img3{
    width: 88px;
    padding-left: 41px;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img4{
    width: 89px;
    padding-left: 40px;
    padding-top: 22px;
    padding-bottom: 10px;
}

.icn-img5{
    width: 97px;
    padding-left: 2em;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img6{
    width: 102px;
    padding-left: 2em;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img7{
    width: 112px;
    padding-left: 26px;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img8{
    width: 91px;
    padding-left: 37px;
    padding-top: 22px;
    padding-bottom: 10px;
}

@media screen and (max-width: 425px){
    .main-buttons{
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 768px){
    .main-buttons{
        margin-left: 30px;
        margin-bottom: 1em;
    }
    .main-buttons2{
        margin-left: 30px;
    }
    .main-srch{
        margin-left: 30px;
    }
}
@media screen and (max-width: 570px){
    .main-icons{
        margin-left: 17px;
    }
    .icn{
        margin-bottom: 1em;
    }
}
.main-icons{
    margin-top: 2em;
}
.main-icons a{
    color: black;
}
.main-icons .icn:hover{
    background-color: #8b7736;
    transition: 0.5s;
}
.main-icons a:hover{
    color: white;
}
.icn{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 130px;
}
.icn-img1{
    width: 95px;
    padding-left: 2em;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img2{
    width: 99px;
    padding-left: 2em;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img3{
    width: 88px;
    padding-left: 41px;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img4{
    width: 89px;
    padding-left: 40px;
    padding-top: 22px;
    padding-bottom: 10px;
}

.icn-img5{
    width: 97px;
    padding-left: 2em;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img6{
    width: 102px;
    padding-left: 2em;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img7{
    width: 112px;
    padding-left: 26px;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img8{
    width: 91px;
    padding-left: 37px;
    padding-top: 22px;
    padding-bottom: 10px;
}

.icn-img9{
    width: 83px;
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 7px;
}
.icn-img10{
    width: 103px;
    padding-left: 2em;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img11{
    width: 96px;
    padding-left: 31px;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn-img12{
    width: 94px;
    padding-left: 32px;
    padding-top: 22px;
    padding-bottom: 10px;
}
.icn strong{
    font-size: 12px;
    text-align: center;
    display: block;
    padding-bottom: 10px;
}
.head-words, .head-words2{
    font-weight: bold;
    margin: 1em auto;
    padding-left: 5px;
    color: black;
}
.head-words-qebul{
    font-weight: bold;
    margin: 1em auto;
    color: black;
}
.head-slider-words{
    font-weight: bold;
    margin: 1em auto;
    color: black;
}
.main{
    background-image: url("templates/static/images/assets/top/dotted.png"), url("templates/static/images/assets/top/dotted.png");
    background-position: left top, right top;
    background-repeat: no-repeat;
    margin-top: -16px;
}
.about-video{
    margin-top: 2em;
    margin-bottom: 2em;
}
.source{
    font-size: 11px;
    font-style: italic;
    color: #8b7736;
}
.data{
    font-size: 11px;
    padding-left: 18px;
}
.data2{
    font-size: 11px;
}
.time{
    font-size: 11px;
    padding-left: 6px;
}
.fa-clock{
    font-size: 17px;
    color: #8b7736;
    padding-left: 25px;
}
.print{
    font-size: 11px;
    color: rgb(48, 47, 47);
    padding-left: 7px;
}
.fa-print{
    font-size: 15px;
    color: #8b7736;
}
.share{
    font-size: 11px;
    color: rgb(48, 47, 47);
    padding-left: 7px;
}
.fa-share{
    font-size: 15px;
    color: #8b7736;
    padding-left: 20px;
}
.blockquote{
    border-left: 3px solid #8b7736;
    padding-left: 2em;
    margin-left: 3em;
    font-size: 1em;
}
.iframes{
    margin-bottom: 8px;
}
.main-head-word{
    font-weight: bold;
    border-bottom: 1px solid #8b7736;
    padding-bottom: 11px;
    margin-left: 15px;
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
}
.main-foot-words{
    font-weight: bold;
    color: black;
    margin-top: 1em;
    margin-bottom: 2em;
}
@media screen and (max-width:768px){
    .blockquote{
        margin-left: 10px;
    }
}
@media screen and (max-width:425px){
    .blockquote{
        margin-left: 0px;
    }
}
.text-style-ul{
    background-color: #8b7736;
    border-radius: 5px;
    min-width: auto;
    width: 3rem;
}
.dropdown-toggle::after{
    margin-right: 3px;
}
.text-style-ul a{
    color: white;
    padding-left: 10px;
    font-weight: bold;
}
.text-style-ul li{
    width: 10px !important;
}
.text-style-btn{
    background-color: transparent;
    color: #8b7736;
    border: none;
    margin-left: 2.5em;
    padding: 0px;
}
@media screen and (max-width: 1199px){
    .text-style-btn{
        margin-left: 0.5em;
    }
}
.text-style-btn:hover{
    background-color: transparent;
    color: #8b7736;
}
.left-t{
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 6px;
}
.right-t{
    font-weight: bold;
    font-size: 1.3em;
    margin-left: -2px;
}
@media screen and (max-width: 342px){
    .fa-clock{
        padding-left: 3px;
    }
}
@media screen and (max-width: 1024px){
    .main{
        background: none;
    }
}

@media screen and (max-width: 425px){
    .head-words2{
        font-size: 16px;
        padding-left: 12px;
    }
}
.main-foot-btn{
    width: 165px;
    line-height: 18px;
    border-radius: 21px;
    background-color: #8b7736;
    box-shadow: 0px 10px 20px #aaa;
    color: white;
    font-size: 13px;
}
.main-foot-btn:hover{
    background-color: white;
    color: #8b7736;
}
.main-foot-btn2{
    width: 165px;
    line-height: 18px;
    border-radius: 21px;
    background-color: transparent;
    color: #8b7736;
    font-size: 13px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #8b7736;
}

.main-foot-btn2:hover{
    background-color: #8b7736;
    color: white;
}
.main-images{
    width: 100%;
    margin-left: -27px;
    margin-bottom: 2em;
}
.main-videos{
    width: 100%;
    margin-left: -41px;
    margin-bottom: 2em;
    height: 158px;
}
.main-images2{
    width: 100%;
    margin-left: -27px;
    margin-bottom: 2em;
}
.main-images:hover{
    filter: grayscale(100%);
}

@media screen and (max-width: 425px){
    .main-images{
        margin-left: 0px;
    }
}
@media screen and (max-width: 425px){
    .main-images2{
        margin-left: 0px;
    }
}
@media screen and (max-width: 768px){
    .main-videos{
        margin-left: 0px
    }
}


.apply-container{
    background: url("../images/assets/idea.jpg") center center no-repeat;
    background-size: cover;
    margin-top: 60px;
    margin-bottom: 100px;
}
.apply-content{
    text-align: center;
}
.apply-header{
    font-size:25px;
    font-family: "Segoe UI Bold";
    color: #8b7736;
    padding-top: 62px;
    padding-bottom: 64px;
    margin-bottom: 0;

}
.apply-form-content{
    position: relative;
}
.apply-button {
   
    display: inline-block;
    padding: 9px 20px;
    color: #8b7736;
    border: 1px solid #8b7736;
    border-radius: 26px;
    position: relative;
    top: 23px;
    background-color: #fff;
    cursor: pointer;

}
.slider-head{
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
}
.demo .item{
    margin-bottom: 60px;
}
.content-slider li{
    background-color: #ed3020;
    text-align: center;
    color: #FFF;
}
.content-slider h3 {
    margin: 0;
    padding: 70px 0;
}
.demo{
    width: 800px;
}

.info-container{
    display: none;
    text-align: center;
    background-color: #f3f1e7;
    margin-bottom: 44px;
    box-shadow: 0 23px 20px -10px #ccc ;
    margin-top: 80px;

}
.apply-form-container{
    text-align: center;
    background-color: #f3f1e7;
    margin-bottom: 44px;
    box-shadow: 0 23px 20px -10px #ccc ;
    margin-top: 80px;

}
.close-form{
    border: none;
    background-color: #f3f1e7;
    position: absolute;
    right: -100px;
    top: 70px;
    cursor: pointer;
}
.apply-form-name{
    display: block;
    text-align: left;
    margin: 20px 0;
    font-size: 17px;
    font-family: "Segoe UI Bold";
}
.apply-form-item{
    width: 100%;
    padding: 13px 28px;
    border-radius: 26px;
    margin-bottom: 10px;
    background-color:#f3f1e7;
    color: #7d7d7d;
    border: 1px solid #8b7736;
}
.apply-form-textarea{
    border-color: #8b7736;
    width: 100%;
    border-radius: 25px;
    background-color:#f3f1e7 ;
    padding: 12px 24px;
    color: #7d7d7d;
}
.apply-form-button-container{

}
.apply-form-button{
    display: inline-block;
    padding: 11px 60px;
    background-color: #8b7736;
    color: #fff;
    border-radius: 26px;
    top: 23px;
    box-shadow: 0px 13px 26px #ccc;
    border: 0;
    margin-top: 50px;
    margin-bottom: 70px;
    cursor: pointer;
}
.news-header{
    border-bottom: 1px solid #8b7736;
    width: 158px;
    padding-bottom: 10px;
    font-family: "Segoe UI Bold";
    font-size: 20px;
}
.news-header-container{
    margin-top: 84px;
    margin-bottom: 46px;
}
.carousel-caption{
    background-color: #c1b790;
}
.owl-prev{
    position: absolute;
    top: 45px;
    left: -71px;
}
.owl-next{
    position: absolute;
    top: 45px;
    right: -71px;
}
.owl-carousel{
    margin-bottom: 60px;
}
.footer-slider{
    position: relative;
}
.top-button{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 29px #CCC;
    background-color: #fff;
    right: 33px;
    top: 420px;
    z-index: 11;
}
.top-button img {
    top: 10px;
    position: absolute;
    left: 9px;
}

.equipments-content-info-container a {
    color: #8b7836!important;
}
.equipments-content-info-container ul  li{
    list-style-type: disc;
}
.documents-content-block a
{
    color: #8b7836;
}
.about-content-heading a
{
    color:#8b7836;
}
.newsinner-content-texts-container a
{
    color:#8b7836;
}
.main-crosses-list, .main-crosses-picture{
    display: block;
}
.main-crosses-list{
    text-align: right;
    position: relative;
}
.main-crosses-picture{
    text-align: right;
    position: relative;
}
.main-crosses-view-text{
    color: #444444;
    font-size: 17px;

}
.main-crosses-picture img{
    position: absolute;
    top: 0;
    right: 54px;
}
.main-crosses-list img {
    position: absolute;
    top: 2px;
    right: 140px;
}
.main-crosses-views{
    margin-top: 21px;
}
.main-crosses-heading{
    font-size: 20px;
    font-family: "Segoe UI Bold";
    color: #000;
    border-bottom: 1px solid #8b7736;
    padding-bottom: 24px;
    width: 247px;
}
.main-crosses-content {
    margin-top: 12px;
    position: relative;
    margin-bottom: 80px;
}
.main-crosses-content-item a{
    font-size: 17px;
    color: #000;
}
.all-list{
    position: absolute;
    right: 0;
    bottom: 0;
}
.all-list-text span{
    color: #444444;
    font-size: 17px;
}
.all-list-text{
    display: inline-block;
    padding: 5px 8px;
    border-radius: 21px;
    border: 1px solid #ddd3c7;

}
p.footer-author-p2{
    margin-top: 10px;
}
p.footer-author-p2 a{

    color: #fff;
}
footer.footer-container{margin-top: 60px;}
.nav-footer-item{
    color: #fff;
    font-size: 12px;
    padding-bottom: 10px;
}
.footer{
    background-color: #8b7736;
    padding-top: 40px;
}
.footer-menu-blocks-container{
    position: relative;
}
.footer-menu-item{
    color: #fff;
    font-size: 12px;
    padding-bottom:10px;
}
.footer-mobile-menu-item{
    color: #fff;
    font-size: 17px;
}
.footer-mobile-menu-block{
    position: absolute;
    top: 0px;
    left: 212px;
    display: none;
}
.footer-menu-item a {
    color: #fff;
    font-size: 12px;
}
.footer-menu-item-header{
    font-family: "Segoe UI Bold";
    font-size: 14px;
    padding-bottom: 10px;
}
.footer-contacts{
    margin-top:10px;
}
.footer-authors{
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer-author-p1, .footer-author-p2{
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
}
.footer-authors2{
    display: none;
}
.footer-write-us{
    text-align: right;
    margin-top: 5px;
}
.footer-write-us-text{
    color: #fff;
}
.footer-tel{
    line-height: 0.7;
}
.fontstyle-footer{
    color: #fff;
}
.view-text-active {
    color: #8b7736 !important;
}



/*     CONTACTS     */



.contacts-map {
    width:100%;
    height:400px;

}
.page-map-menu{
    padding-top: 24px;
}
.page-map-item-link{
    display: inline-block;
}
.page-map-item-text{
    font-size: 14px;
    color: #000;
}
.page-map-item{
    float: left;
    padding-right: 5px;
    margin-top: 15px;
}
.page-map-item-link img{
    position: relative;
    top: -3px;
    z-index: -1;
}
.page-map-active{
    color: #8b7736;
}
.spec-letter{
    color: #8b7736;
    font-size: 20px;
}
.contacts-content-numbers-text, .contacts-content-text{
    font-size: 20px;
    color: #000;
}
.contacts-content-numbers{
    text-align: center;
}
.contacts-content-heading{
    text-align: center;
    margin-bottom: 34px;
}
.contacts-content-header{
    font-size: 25px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-bottom: 40px;
    margin-top: 48px;
}
.contacts-content-numbers-menu{
    max-width: 611px;
    margin: 0 auto;
}

.contacts-content-numbers-menu li:last-child {
    margin-right: 0;
}
.contacts-content-textarea-label{
    display: block;
}
.contacts-content-form{
    text-align: center;
}
.contacts-content-form-item{
    max-width: 610px;
    width: 100%;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #8b7736;
    color: #8b7736;
    margin-bottom: 22px;
}
.contacts-content-textarea-label{
    margin-top: 22px;
    margin-bottom: 11px;
    font-size: 17px;
    text-align: left;
    margin-left: 16%;
    font-family: "Segoe UI Bold";
    color: #8b7736;
}
.contacts-content-form-textarea{
    max-width: 610px;
    width: 100%;
    padding: 5px 20px;
    text-align: center;
    border-radius: 20px;
    border: 1px solid #8b7736;
    color: #8b7736;
    height: 237px;
    margin-bottom: 51px;
}
.contacts-content-form-button{
    display: inline-block;
    padding: 9px 63px;
    background-color: #8b7736;
    color: #fff;
    border-radius: 26px;
    box-shadow: 0px 13px 26px #ccc;
    border: 0;
    margin-bottom: 124px;
    cursor: pointer;
}


/*      ABOUT-US      */


.about-content-heading{
    text-align: center;
    margin-bottom: 90px;
}
.about-content-header{
    font-size: 30px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-bottom: 40px;
    margin-top: 48px;
}
.about-content-text{
    font-size: 12.0pt;
    color: #000;
    text-align: left;
}
.about-content-scheme{
    margin-top: 48px;
}
.about-content-scheme2{
    display: none;
    margin-top: 48px;
    text-align: center;
}
.about-content-departments-header{
    font-size: 25px;
    font-family: "Segoe UI Bold";
    color: #8b7736;
    margin-bottom: 0;
}
.about-content-departments-container{
    text-align: center;
}
.about-departments-block-text{
    font-size: 20px;
    color: #8b7736;
    padding: 0 20px;
    margin-top: 40px;
    margin-bottom: 0;
}
.about-content-departments{
    margin-top: 66px;
}
.about-content-missions-heading{
    text-align: center;
    margin-bottom: 80px;
}
.about-content-missions-header{
    font-size: 20px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-bottom: 34px;
    margin-top: 78px;
}
.about-content-missions-text{
    font-size: 12.0pt;
    color: #000;
    text-align: left;
}
.about-missions-button:hover{color: #8b7736;}
.about-missions-button{

    display: inline-block;
    padding: 9px 39px;
    background-color: #fff;
    color: #8b7736;
    border-radius: 26px;
    border: 1px solid #8b7736;
    margin-bottom: 22px;

}



/*     DOCUMENTS     */



.documents-content-tables-item{
    float: left;
}
.documents-content-tables{
    text-align: center;
    margin: 0 auto;
    max-width: 401px;
    width: 100%;
    margin-top: 55px;
}
.documents-content-tables-item{
    margin:0 37px;
}
.documents-content-tables-item:last-child{
    margin-right: 0;
}
.documents-content-tables-link{
    font-size: 20px;
    color: #000;
}
.documents-content-header{
    font-size: 25px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-bottom: 0;
}
.documents-content-block{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 35px;
}
.documents-normatives-header{
    font-size: 17px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-bottom: 18px;
}
.documents-normatives-container{
    text-align: left;
    margin: 53px 87px 0 47px;
}
.documents-normatives-item{
    list-style-type: disc;
    font-size: 17px;
    color: #000;
    margin-left: 22px;
}

.documents-tables-header{
    box-shadow: 0 16px 21px -13px #ccc;
    border-bottom: 21px solid #fff;
}
.documents-tables-content{
    margin-top: 23px;
    overflow-y: scroll;
    height: 438px;

}
.documents-tables-content-block{
    padding-right: 10px;
}
.documents-table-headers-text{
    font-size: 20px;
    font-family: "Segoe UI Bold";
}
.documents-tables-content::-webkit-scrollbar{
    width: 7px;
    position: relative;
    left: -3px;
}
.documents-tables-content::-webkit-scrollbar-track{
    background-color: #f3f1e7;
    border-radius: 7px;
}

.documents-tables-content::-webkit-scrollbar-thumb{
    outline: 0;
    border-radius: 7px;
    background-color: #8b7736;
}
.documents-content-table{
    text-align: center;
    max-width: 960px;
    margin: 0 auto;
}

.documents-tables-content-table{
    max-width: 960px;
    width: 100%;
}
.table1 {
    width: 160px;
}
.table3{
    width: 160px;
}
.table2{
    width: 160px;
}

.table5{
    width: 120px;
}
.subtables{
    width: 90px;
}
.documents-tables-centering{
    text-align: center;
    padding: 0 20px;
    line-height: 1;
}
.document-table-position1{
    position: relative;
    top: -27px;
}
.document-table-position2{
    position: relative;
    top: -27px;
    left: 7px;
}
.document-table-position3, .document-table-position5{
    position: relative;
    top: -10px;
}

.documents-tables-header-data{
    font-size: 17px;
}

.documents-tables-header{
    width: 100%;
}
.documents-tables-content-table-data{
    text-align: center;
    padding: 2.5px 0;
    font-size: 17px;
}
.documents-table-abbreviations{
    margin-top: 36px;
    margin-bottom: 15px;
    padding-left: 47px;
    box-shadow: 0 -11px 21px -10px #ccc;
    padding-top: 27px;
}
.documents-table-abbreviations span:first-child{
    font-size: 17px;
    font-family: "Segoe UI Bold"!important;
}
.documents-table-abbreviations span{
    font-size: 17px;
    margin-right: 24px;
}

.question1, .answer1{
    color: #8b7736;
}
.question2{
    line-height: 25px;
}
.answer2{
    line-height: 18px;
    border-bottom: 1px solid black;
    padding-bottom: 1.5em;
}
.second-question{
    margin-top: 1em;
    border-bottom: 1px solid black;
    padding-bottom: 1.5em;
}


/*        Professional development      */




.profdevelop-content{
    margin-bottom: 125px;
}

.profdevelop-content-top-menu-container{
    margin-top: 40px;
    margin-bottom: 70px;
}
.profdevelop-top-menu-block{
    text-align: center;
}
.profdevelop-top-menu-link{
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.08s;
    transition-duration: 0.08s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    display: block;
    background: rgba(243,243,243,1);
    background: -moz-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(196,196,196,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(243,243,243,1)), color-stop(100%, rgba(196,196,196,1)));
    background: -webkit-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(196,196,196,1) 100%);
    background: -o-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(196,196,196,1) 100%);
    background: -ms-linear-gradient(top, rgba(243,243,243,1) 0%, rgba(196,196,196,1) 100%);
    background: linear-gradient(to bottom, rgba(243,243,243,1) 0%, rgba(196,196,196,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#c4c4c4', GradientType=0 );
    height: 246px;
    padding-top: 47px;
    border-radius: 20px;

}
.profdevelop-top-menu-link:hover {
    background: rgba(138,118,54,1);
    background: -moz-linear-gradient(top, rgba(138,118,54,1) 0%, rgba(112,96,43,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(138,118,54,1)), color-stop(100%, rgba(112,96,43,1)));
    background: -webkit-linear-gradient(top, rgba(138,118,54,1) 0%, rgba(112,96,43,1) 100%);
    background: -o-linear-gradient(top, rgba(138,118,54,1) 0%, rgba(112,96,43,1) 100%);
    background: -ms-linear-gradient(top, rgba(138,118,54,1) 0%, rgba(112,96,43,1) 100%);
    background: linear-gradient(to bottom, rgba(138,118,54,1) 0%, rgba(112,96,43,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8a7636', endColorstr='#70602b', GradientType=0 );
}
.profdevelop-top-menu-link:hover .profdevelop-top-menu-text {
    color: #fff;
}
.profdevelop-top-menu-link:hover .profdevelop-top-menu-image1{
    background: url("../images/field-icon1.2.png")no-repeat center center;
    height: 116px;
}
.profdevelop-top-menu-link:hover .profdevelop-top-menu-image2{
    background: url("../images/field-icon2.2.png")no-repeat center center;
    height: 116px;
}.profdevelop-top-menu-link:hover .profdevelop-top-menu-image3{
     background: url("../images/field-icon1.2.png")no-repeat center center;
     height: 116px;
 }
.profdevelop-top-menu-link:hover .profdevelop-top-menu-image4{
    background: url("../images/field-icon1.2.png")no-repeat center center;
    height: 116px;
}

.profdevelop-top-menu-text{
    margin-bottom: 0;
    padding: 13px 32px;
    font-size: 20px;
    color: #000;
    line-height: 24px;
}
.profdevelop-top-menu-image1{
    background: url("../images/field-icon1.1.png")no-repeat center center;
    height: 116px;
}
.profdevelop-top-menu-image2{
    background: url("../images/field-icon2.1.png") no-repeat center center;
    height: 116px;
}
.profdevelop-top-menu-image3{
    background: url("../images/field-icon3.1.png") no-repeat center center;
    height: 116px;
}
.profdevelop-top-menu-image4{
    background: url("../images/field-icon4.1.png") no-repeat center center;
    height: 116px;
}
.profdevelop-content-heading{
    text-align: center;
    margin-bottom: 90px;
}
.profdevelop-content-header{
    font-size: 35px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-bottom: -46px;
    margin-top: 48px;
}
.profdevelop-content-block {
    background-color: #c1b790;
    position: relative;
    transition: all 0.5s ease;
    margin-bottom: 15px;
    cursor: pointer;
}

.profdevelop-content-block:hover {
    background-color: #8b7736;
}
.profdevelop-content-click{
    background-color: #8b7736;
}
.profdevelop-content-block-text{
    color: #fff;
    font-size: 17px;
    padding:5px 0 5px 26px;

}
.profdevelop-chevron {
    width: 10px;
    height: 10px;
    float: left;
    box-shadow: -2px 2px 0 rgba(255,255,255,0.5);
    transform: rotate(45deg);
    margin-top: 8px;
    position: absolute;
    right: 15px;
    top: 7px;
}
.profdevelop-chevron-click{
    width: 10px;
    height: 10px;
    float: left;
    box-shadow: -2px 2px 0 rgba(255,255,255,0.5);
    transform: rotate(-45deg);
    margin-top: 8px;
    position: absolute;
    right: 17px;
    top: 2px;
}
.profdevelop-inner-top-right-counts{
    position: relative;
}
.profdevelop-inner-top-right-img{
    position: relative;
    right: 16px;
    top: 9px;
}
.profdevelop-inner-top-right-counts-text{
    max-width: 296px;
    text-align: right;
    color: #8b7736;
    line-height: 9px;
    margin-left: auto;
    margin-right: 50px;
    float:right;
    top: 13px;
    position: relative;
}
.profdevelop-inner-top-right-img-mobile{
    display: none;
}
.profdevelop-inner-top-right-text{
    margin-bottom: 69px;
    color: #000;
    font-size: 16px;
}
.profdevelop-inner-top-left-text{
    color: #8b7736 ;
    font-size: 16px;
}
.profdevelop-inner-top-left p:first-child{
    margin-bottom: 120px;
    margin-top: 4px;
}
.profdevelop-inner-top{
    margin-top: 67px;
    border-bottom: 1px solid;
    padding-bottom: 7px;
}
.profdevelop-inner-left-text{
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 28px;
    max-width: 450px;
}
.profdevelop-inner-right-text{
    font-size: 16px;
    margin-top: 30px;
    text-align: center;
}
.profdevelop-inner-bottom{
    border-bottom: 1px solid;
}
.profdevelop-inner-bottom:last-child{
    border-bottom: none;
}


.profdevelop-content-inner {
    display: none;
}

.owl-next img{
    width:40px;}
.owl-prev img{width: 40px;}
.owl-carousel .owl-item img {
    display: block;

}
.owl-item .item img:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.contacts-content .info-container .close-form{
    border: none;
    background-color: #f3f1e7;
    position: absolute;
    right: -80px;
    top: 10px;
    cursor: pointer;
}
.contacts-content-form-item-block .terms_style {
    margin-left: 125px;
    margin-bottom: 15px;
}
.terms_style {
    color: red;
    text-align: left;
    margin-left: 19px;
    font-size: 12px;
    transition: all 0.5s ease;
}

/*              SEARCH               */


.search-content{display: flex}
.search-content-heading{
    /* margin-bottom: 95px;*/
    margin-bottom: 5px;
}
.search-content-header{
    font-size: 25px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-bottom: 40px;
    margin-top: 38px;
}
.search-content-top-left-item{
    float: left;
    margin-right: 22px;
}
.search-content-top-left-item:nth-child(3){
    margin-right: 0;
}
.search-content-top-left-link{
    display: inline-block;
    color: #000;
    font-size: 15px;
}
.search-content-block p{
    color:#000;
}
.search-content-top-left-link:hover{
    color: #000;
}
.search-content-top-right-link{
    display: inline-block;
    color: #000;
    font-size: 20px;
    margin-right: 15px;
}
.search-content-top-right-link:hover{
    color: #000;
}
.search-content-block-header{
    font-size: 20px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-bottom: 22px;
}
.search-content-block-text-span{
    text-decoration: underline;
    color: #8b7736;
    font-size: 20px;
}
.search-content-block-text{
    font-size: 20px;
    margin-bottom: 24px;
    line-height: 25px;
}
.search-content-block-date{
    font-size: 16px;
    color: #a5a5a5;
    margin-bottom: 67px;
}
.search-bottom-navigation-numbers-item{
    float: left;
    padding-right: 61px;
}
.search-bottom-navigation-numbers-link{
    font-size: 18px;
    color: #000;
}
.search-bottom-navigation-numbers-link:hover{
    color: #000;
}
.search-bottom-navigation-numbers-menu li:nth-child(10){
    padding-right: 0;
}
.search-bottom-navigation-numbers, .search-bottom-navigation-map{
    max-width: 686px;
    margin: 0 auto;
}
.search-bottom-prev-next{
    text-align: center;
}
.search-bottom-navigation-map-right{
    text-align: right;
}
.search-bottom-navigation-map-right-text, .search-bottom-navigation-map-left-text{
    font-size: 17px;
    color: #8b7736;
}
.search-bottom-navigation-map-right-link, .search-bottom-navigation-map-right-link{
    display: inline-block;
}
.search-bottom-navigation{
    margin-top: 46px;
    margin-bottom: 106px;
}
.search-bottom-navigation-numbers{
    margin-bottom: 66px;
}
.html5gallery-tn-selected-0{
    widows: 150px;
}





/*                  EQUIPMENTS               */



a.infrastructure-top-menu-link.active .infrastructure-top-menu-text {
    color: #fff;
}
a.infrastructure-top-menu-link.active{background: #8b7836;}
infrastructure-top-menu-text
.infrastructure-content
{
    margin-bottom: 25px;
}
.infrastructure-content-top-menu-container{
    margin-top: 64px;
    margin-bottom: 70px;
}
.infrastructure-top-menu-block{
    text-align: center;
}

.infrastructure-top-menu-link{
   /* background: url("/images/assets/border.svg");
    background-repeat:no-repeat;*/

    border: 2px dotted #8b7836;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.08s;
    transition-duration: 0.08s;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    display: block;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3f3f3', endColorstr='#c4c4c4', GradientType=0 );
    height: 246px;
    padding-top: 47px;
    border-radius: 20px;

}



a.infrastructure-top-menu-link.active2 {
        background-color: #8b7836;
        color:#fff;

}
a.infrastructure-top-menu-link.active {
    background-color: #8b7836;
    color:#fff;

}

.infrastructure-top-menu-link.active2 .infrastructure-top-menu-text{
    color:#fff;
}
.infrastructure-top-menu-link:hover, .click-table.active {
    background-color: #8b7836;
}
.infrastructure-top-menu-link:hover .infrastructure-top-menu-text{
    color: #fff;
}
.infrastructure-top-menu-link:hover .infrastructure-top-menu-image1{
    background: url("../images/field-icon1.2.png")no-repeat center center;
    height:60%;
}
.infrastructure-top-menu-link:hover .infrastructure-top-menu-image2{
    background: url("../images/field-icon2.2.png")no-repeat center center;
    height: 116px;
}
/*Ashagi tablari yeni hala salmaq ucun*/


.infrastructure-top-menu-image2.newHeight{height:56px}
.infrastructure-top-menu-link.newHeight{height:170px;    padding-top: 21px;}

@media screen and (max-width: 890px)
{
    .infrastructure-top-menu-link.newHeight
    {
        height: 210px;
    }
}
.infrastructure-top-menu-text.newHeight{font-size:13px;padding: 5px 32px;}
.infrastructure-top-menu-link.newHeight:hover .infrastructure-top-menu-image2{height: 56px;}
/*End*/
.infrastructure-top-menu-link:hover .infrastructure-top-menu-image3{
    background: url("../images/field-icon3.1.png")no-repeat center center;
    height: 116px;
}
.infrastructure-top-menu-link:hover .infrastructure-top-menu-image4{
    background: url("../images/field-icon4.1.png")no-repeat center center;
    height: 116px;
}

.infrastructure-top-menu-text{
    margin-bottom: 0;
      padding: 13px 32px;
    font-size: 17px;
    color: #000;
    line-height: 19px;
}
.infrastructure-top-menu-image1{
    background: url("../images/field-icon1.1.png")no-repeat center center;
    height:60%;
}
.infrastructure-top-menu-image2{
    background: url("../images/field-icon2.1.png") no-repeat center center;
    height: 116px;
}
.infrastructure-top-menu-image3{
    background: url("../images/field-icon3.1.png") no-repeat center center;
    height: 116px;
}
.infrastructure-top-menu-image4{
    background: url("../images/field-icon4.1.png") no-repeat center center;
    height: 116px;
}
.infrastructure-dropdown-menu{
    min-width: 4rem;
}
.equipments-content-heading{
    text-align: center;
    margin-bottom: 55px;
}
.equipments-content-header{
    font-size: 27px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-bottom: 28px;
    margin-top: 48px;
}
.equipments-content-text{
    font-size: 17px;
    max-width: 770px;
    margin: 0 auto;
}
.equipments-content-info-text{
    margin-bottom: 17px;
    font-size: 20px;
}
.equipments-content-bottom-img1{
    height: 74px;
    background: url("../images/equipments-comp.png") no-repeat center center;
}
.equipments-content-bottom-img2{
    height: 74px;
    background: url("../images/equipments-projector.png") no-repeat center center;
}
.equipments-content-bottom-img3{
    height: 74px;
    background: url("../images/equipments-desk.png") no-repeat center center;
}
.equipments-content-bottom-text{
    font-size: 25px;
    color: #8b7736;
    margin-top: 4px;
}
.equipments-content-bottom-numbers{
    font-size: 70px;
    color: #8b7736;
    line-height: 114px;
}
.equipments-content-bottom-container{
    text-align: center;
    margin-top: 86px;
    margin-bottom: 116px;
}
.server-top-left-link{
    display: block;
    position: relative;
}
.server-top-right-link{
    display: block;
    position: relative;
}

.server-top-share-icon{
    position: absolute;
}
.server-top-share-text{
    margin-left: 33px;
    color: #000;
    font-size: 14px;
}
.server-top-print-text{
    color: #000;
    font-size: 14px;
}
.server-top-block{
    position: relative;
}
.server-top-left, .server-top-right, .server-top-right-dropdown{
    position: absolute;
}
.server-top-right-dropdown{
    border: none;
    box-shadow: none !important;
    background-color: #fff !important;
}
.server-dropdown-menu{
    min-width: 60px !important;
}
.server-top-block{
    height: 40px;
}
.server-top-right{
    right: 120px;
}
.server-top-right-dropdown{
    right: 0px;
    top: -3px;
}
.server-content-heading{
    text-align: center;
    margin-bottom: 38px;
}
.server-content-header{
    font-size: 35px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-bottom: 11px;
    margin-top: 30px;
}
.server-content-info-text{
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 24px;
}
.server-content-info-container{
    margin-bottom: 200px;
}
.activate-page{
    display: block;
}

.tabs-content {
    display: none;
}

#click-table1 {
    display: block;
}



/*        NEWS            */





.news-main-page{
    margin-top: 53px !important;
}
.news-content-block{
    position: relative;
}
.news-time-container{
    position: relative;
    top: -23px;
    left: 202px;
}
.news-content-gallery .img-fluid{width:300px;height: 222px;}
.news-content-gallery{
    position: relative;
}
.news-content-gallery-play{
    position: absolute;
    left: 0;
    bottom: 0;
}
.news-content-block-date{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 14px;
}
.news-content-gallery-link{
    display: block;
}
.news-time-container img{
    margin-bottom: 3px;
    margin-right: 10px;
    width:20px;
}
.news-content-block-header{
    font-size: 17px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-top: 21px;
}
.news-content-block{
    margin-bottom: 104px;
}
.news-bottom-navigation-numbers-item{
    float: left;
    padding-right: 61px;
}
.news-bottom-navigation-numbers-link{
    font-size: 23px;
    color: #000;
}
.news-bottom-navigation-numbers-link:hover{
    color: #000;
}
.news-bottom-navigation-numbers-menu li:nth-child(10){
    padding-right: 0;
}
.news-bottom-navigation-numbers, .news-bottom-navigation-map{
    max-width: 686px;
    margin: 0 auto;
}
.news-bottom-prev-next{
    text-align: center;
}
.news-bottom-navigation-map-right{
    text-align: right;
}
.news-bottom-navigation-map-right-text, .news-bottom-navigation-map-left-text{
    font-size: 17px;
    color: #8b7736;
}
.news-bottom-navigation-map-right-link, .news-bottom-navigation-map-right-link{
    display: inline-block;
}
.news-bottom-navigation{
    margin-top: 46px;
    margin-bottom: 106px;
}
.news-bottom-navigation-numbers{
    margin-bottom: 51px;
}




/*       NEWS-INNER           */





.amazingslider-thumbnails li img {
    width: 50px;
}
.newsinner-header{
    font-family: "Segoe UI Bold";
    font-size: 28px;
    /* margin-bottom: 66px;*/
    margin-bottom:30px;
}
.newsinner-header-container{
    margin-top: 42px;
    /*  margin-bottom: 26px;*/
    text-align: center;
}
.newsinner-time-container{
    position: relative;
    top: -2px;
    left: 42px;
}
.newsinner-similar-time-container{
    position: relative;
    top: -23px;
    left: 182px;
}
.newsinner-similar-time-container img{
    margin-bottom: 4px;
}
.newsinner-similar-time-container span{
    margin-left: 4px;
}

.newsinner-content-bottom-similar-news .newsinner-time-container
{
    position: relative;
    top: 12px;
    left: 0px;
}
.newsinner-time{
    font-size: 14px;
}
.newsinner-content-top-left-tools-menu-item{
    float: left;
}
.newsinner-content-top-right-tools-menu-item{
    float: right;
    margin-right: -30px;
}

.newsinner-content-top-left-tools-text{
    font-size: 14px;
    color: #8b7736;
    font-family: "segoe-italic";
}
.newsinner-content-top-left-tools-date{
    font-size: 14px;
}
.newsinner-content-top-share-link, .newsinner-content-top-print-link {
    display: block;
    margin-top: -2px;
}
.newsinner-content-top-print-link{
    margin-left: 31px;
}

.newsinner-top-right-share-icon{
    position: absolute;
    margin-top: 2px;
}
.newsinner-top-right-share-text{
    margin-left: 33px;
    color: #000;
    font-size: 14px;
}
.newsinner-top-right-print-text{
    color: #000;
    font-size: 14px;
}
.newsinner-top-right-dropdown{
    border: none;
    box-shadow: none !important;
    background-color: #fff !important;
}
.newsinner-top-right-dropdown-block{
    right: 0px;
    top: -7px;
    position: relative;
    margin-left: 88px;
}
.newsinner-content-headers{
    border-left: 3px solid #8b7736;
    margin-left: 80px;
    padding-left: 80px;
}
.newsinner-content-header{
    font-size: 25px;
    color: #8b7736;
    margin-bottom: 30px;
}
.newsinner-content-text-container{
    margin-top: 37px;
}
.newsinner-content-text{
    font-size: 15px;
    color: #000;
    margin-bottom: 27px;
    line-height: 23px;
}

.newsinner-content-bottom-header{
    border-bottom: 1px solid #8b7736;
    width: 274px;
    padding-bottom: 10px;
    font-family: "Segoe UI Bold";
    font-size: 20px;
}
.newsinner-content-bottom-header-container{
    /*margin-top: 84px;*/
    margin-top: 42px;
    /*margin-bottom: 58px;*/
}
.newsinner-content-bottom-similar-news{
    position: relative;
}
.newsinner-content-top-tools{
    /*margin-top: 52px;*/
}

.newsinner-content-gallery{
    position: relative;
}
.newsinner-content-gallery-play{
    position: absolute;
    left: 0;
    bottom: 0;
}
.newsinner-content-block-date{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 14px;
}
.newsinner-content-gallery-link{
    display: block;
}
.newsinner-time-container img{
    margin-bottom: 3px;
    margin-right: 10px;
}
.newsinner-content-block-header{
    font-size: 17px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-top: 21px;
}
.newsinner-content-block{
    margin-bottom: 84px;
}
.newsinner-content-bottom-button{
    color: #8b7736;
    font-size: 13px;
    border: 1px solid #8b7736;
    border-radius: 20px;
    padding: 10px 35px;
}
.newsinner-content-bottom-button:hover{
    color: #8b7736;
}

.newsinner-content-bottom-button-container{
    margin-bottom: 115px;
    text-align: center;
}
.left{float: left;}
.right{float:right;}
.left-block-top {
    margin-top: -72px;
    float: left;
    width: 205px;
    /* position: relative; */
    /* height: 100%; */
    min-height: 197px;
    background: url(/images/assets/top/bottom4.png);
    background-repeat: no-repeat;
}
.right-block-top
{
    float: right;
    margin-top: -384px;
    min-height: 197px;
    width: 154px;
    background: url(/images/assets/top/bottom4.png);
    background-repeat: no-repeat;
}
.right-block-bottom {
    margin-top:50px;
    float: right;
    min-height: 197px;
    width: 205px;
    background: url(/images/assets/top/bottom4.png);
    background-repeat: no-repeat;
}
/* Addings */
.left-block{    margin-top: -39px;float:  left;width: 256px;/* position:  relative; *//* height: 100%; */min-height: 197px;background: url("/images/assets/top/top4.png");background-repeat: no-repeat;}
.right-block{    margin-top: -200px;
    float: right;
    min-height: 197px;
    width: 205px;
    background: url(/images/assets/top/top4.png);
    background-repeat: no-repeat;
}

.fields-of-activity{
    display: flex;
}
.fields-of-activity-item img {
    width: 100%;
    height: 15em;
    transition: all 1s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.fields-of-activity-item:hover img {
    -webkit-filter: none;
    filter: none;
}
.carousel-item-link
{
    color:#fff;
}
.carousel-inner .container{margin-top: -20px;}
.slider-text {
    margin-right: 7px;
    margin-left: 5px;
    color:#fff;
    margin-top: 18px;
    height: 53px;
    overflow: hidden;
}
.slider-news-date {
    position: absolute;
    right: 3px;
/*    bottom: -70px; */
    color: #000;
    width: 100%;
    font-size: 14px;
}

.more-news-button {
    transition: all 0.08s ease-in;
    float:right;
    margin-right: 20px;
}
.more-news-button-mobile{
    display: none;
}

.more-news-button:hover {
    background: #8b7736;
    color: #fff;
}







.social-icons{
    list-style: none;
    padding-left: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.social-icons i{
    color: white;
}
.social-icons a{
    border-radius: 50%;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 34px;
    color: #444444;  
    transition: all 0.2s linear;
}
.social-icons a:hover{
    border: 1px solid #8b7736;
}