{% load static %}

<!--FOOTER BASLADI-->
<footer class="footer-container">
    <div class="footer-slider">
        <div class="container">
            <div class="custom-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <a target="_blank" href="http://heydaraliyevcenter.az">
                                    <img src="{% static 'templates/images/banner/new/HA_Center_Banner.jpg' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a target="_blank" href="http://president.az">
                                    <img src="{% static 'templates/images/banner/new/President_Banner.jpg' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a target="_blank" href="http://mehriban-aliyeva.az">
                                    <img src="{% static 'templates/images/banner/new/MA_Banner_c.jpg' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a target="_blank" href="http://edu.gov.az">
                                    <img src="{% static 'templates/images/banner/new/MA_Banner.png' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a target="_blank" href="https://heydar-aliyev-foundation.org">
                                    <img src="{% static 'templates/images/banner/new/HAF_Banner.jpg' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="scroll-top" href="#">
            <div class="top-button">
                <img src="{% static 'templates/images/assets/up-arrow.png' %}">
            </div>
        </a>
    </div>
    <div class="footer">
        <div class="custom-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="footer-menu col-md-4 col-6">
                        <ul class="footer-menu-block">
                            <li class="footer-menu-item"><a href="https://edu.gov.az/   ">Təhsil Nazirliyi</a></li>
                            <li class="footer-menu-item"><a href="{% url 'companies' %}">Müəssisələr</a></li>
                            <li class="footer-menu-item"><a href="tedbirler-daxili.html">Tədbirlər</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu col-md-4 col-6">
                        <ul class="footer-menu-block">
                            <li class="footer-menu-item"><a href="layihe-tedbirler.html">Media</a></li>
                            <li class="footer-menu-item"><a href="layihe-tedbirler.html">Xəbərlər</a></li>
                            <li class="footer-menu-item"><a href="{% url 'documents' %}">Sənədlər</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6">
                        <ul class="footer-menu-block">
                            <li class="footer-menu-item"><a href="{% url 'contact_main' %}">Əlaqə</a></li>
                            <li class="footer-menu-item">Azadlıq prospekti 909</li>
                            <li class="footer-menu-item">+99412 565 02 37</li>
                            <li class="footer-menu-item footer-tel">+99412 565 02 38</li>
                            <li class="social-icons"> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-1 col-md-1"></div>
                    <div class="footer-authors col-lg-6 col-md-6">
                        <p class="footer-author-p1">Copyright © 2010 Azərbaycan Respublikasında təhsil sisteminin informasiyalaşdırılması üzrə dövlət proqramı</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER BITDI-->