<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="UzgxbEbbw6N8kbdiGZVNzSvaVT3WnahqSly1v6ic" />
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Elaqe</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/js/owlcarousel/dist/assest/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/media.css' %}">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body>
<!--HEADER BASLADI-->
{% include 'layouts/header.html' %}
<!--HEADER BITDI-->

<!--MAIN BASLADI-->
<main>
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24304.350687089096!2d49.848462413507505!3d40.407879672930704!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d5170017dc7%3A0x4ac898fd7496242b!2zTW9udGluLCBCYWvEsSwgQXrJmXJiYXljYW4!5e0!3m2!1saz!2s!4v1545893666957" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
    <div class="container">
        <div class="row mini-nav">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
            <ul class="pagination pagination1">
                <li><a href="{% url 'homepage' %}"><i class="fas fa-home home-icon"></i> <span>&gt;</span> </a></li>
                        <li><a href="{% url 'companies' %}"> Müəssisələr <span>&gt;</span> </a></li>
                        <li><a href="{% url 'company' company_id %}"> {{company.company_name}} <span>&gt;</span> </a></li>
                        <li><a href="{% url 'contact_company' company_id %}">Elaqe</a></li>
                </ul>
            </div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 main-head-words">
                <h3>Bizimlə əlaqə</h3>
                <p>Təhsil Sisteminin İnformasiyalaşdırılması İdarəsi</p>
                <p>Azadlıq prospekti, məhəllə 909</p>
                <p class="number-p"><span>T:</span>+99412 565 02 37</p>
                <p class="number-p2"><span>F:</span>+99412 565 02 38</p>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="form-group">
                    <input type="text" class="form-control inputs-main" id="usr" placeholder="Ad">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control inputs-main2" id="pwd" placeholder="E-poçt">
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div class="form-group">
                    <label class="label-input-main" for="comment">Məktubunuz</label>
                    <textarea class="form-control message-input-main" rows="5" id="comment"></textarea>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <div class="row">
            <div class="col-lg-5"></div>
            <div class="col-lg-2">
                <button type="button" class="btn message-btn">Göndər</button>
            </div>
            <div class="col-lg-5"></div>
        </div>
    </div>
</main>
<!--MAIN BITDI-->

<!--FOOTER BASLADI-->
{% include 'layouts/footer.html' %}
<!--FOOTER BITDI-->
<script type="text/javascript" src="{% static 'templates/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.6/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="{% static 'templates/css/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'templates/js/owlcarousel/dist/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'templates/js/main.js' %}"></script>
</body>
</html>