img{max-width: 100%;}
@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/new/segoeui.ttf");
}
@font-face {
    font-family: "Georgia";
    src: url("../fonts/Georgia.ttf");
}
@font-face {
    font-family: "Segoe UI Bold";
    src: url("../fonts/new/segoeuib.ttf");
}
@font-face {
    font-family: "segoe-italic";
    src: url("../fonts/new/segoeuii.ttf");
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/Segoe/Segoeui2.ttf");
}
@font-face {
    font-family: "Segoe UI Bold";
    src: url("../fonts/Segoe/Segoeuib.ttf");
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: "Segoe UI"!important;
    font-size:13px;
}
::-moz-placeholder { /* Firefox 19+ */
    font-family: "Segoe UI"!important;
    font-size:13px;
}
:-ms-input-placeholder { /* IE 10+ */
    font-family: "Segoe UI"!important;
    font-size:13px;
}
:-moz-placeholder { /* Firefox 18- */
    font-family: "Segoe UI"!important;
    font-size:13px;
}

.carousel-img{
    background: url("../images/home-slider.jpg")no-repeat center center;
    background-size: cover!important;
    height: 300px;
}
 html,body {
     height: 100%;
 }
 * {
     box-sizing: border-box;
     outline: 0 !important;
 }
 body {
     font-family:"Segoe UI" ;
 }
 * {
     margin: 0;
     padding: 0;
 }
 b, strong {
     font-family: "Segoe UI Bold";
 }
 i {
     font-family: "segoe-italic";
 }
 a {
     text-decoration: none;
 }
 a:hover {
     text-decoration: none;
 }
 ul, li {
     list-style-type: none;
 }
 span {
     font-family: "Segoe UI"!important;
 }
 p {
     font-family: "Segoe UI"!important;
 }
 li{
     font-family: "Segoe UI"!important;
 }

 .menu-item2:last-child a {
     border-right: none;
 }
 .left-top{
     background: url("../images/assets/top/dotted_top.png");
     height: 201px;
     width: 154px;
     background-repeat: no-repeat;
}
 .right-top{
     background: url("../images/assets/top/dotted_top.png");
     height: 201px;
     width: 154px;
     background-repeat: no-repeat;
}
 .right-bottom-search {
     background: url("../images/assets/top/dotted.png");
     height: 401px;
     width: 155px;
     background-repeat: no-repeat;
 }
 .left-bottom{
     background: url("../images/assets/top/dotted.png");
     height: 401px;
    width:153px;
    background-repeat: no-repeat;
}
.right-bottom{
    background: url("../images/assets/top/dotted.png");
    height: 401px;
    width:153px;
    background-repeat: no-repeat;
}
.header-center
{
    margin-left: 0px;
}
.header{
    display: flex;
}
.mobile-menu-container{
    height: 57px;
    background-color: #8b7736;
    display: none;
}
.mobile-custom-container{
    margin: 0 40px;
}
.mobile-header-left, .mobile-header-right{
    margin-top: 9px;
}
.header-bottom-container{
    margin: 0 48px 0px 48px;
}
.header-bottom-right{
    padding-top: 17px;
}
.mobile-menu-button{
    padding-top: 8px;
    width: 40px;
    display: inline-block;
    cursor: pointer;
}
.center-line{
    position: relative;
    height: 3px;
    width: 31px;
    background: #fff;
    display: block;
    margin: 7px 0;
}
.center-line-none{
    display: none;
}
.mobile-menu-button:before, .mobile-menu-button:after {
    content: '';
    position: relative;
}
.mobile-menu-button:before{
    width: 31px;
    top: 1px;
    border: 1.5px solid #fff;
    display: block;
}
.mobile-menu-button:after{
    width: 31px;
    top: -1px;
    border: 1.5px solid #fff;
    display: block;
}
.rotate-elements:before{
    transform: rotate(45deg);
    top: 2px;
}
.rotate-elements:after{
    transform: rotate(-45deg);
}
.header-bottom-left, .header-bottom-right{
    display: none;
}

.custom-container{
    max-width: 860px;
    margin: 0 auto;
}


.header-top {
    padding: 36px 0;
}
.header-left{

    margin-top:14px;
}
.header-mobile-right-container{margin-top: -15px;}

@media (max-width:580px) {
    .header .custom-container {
        max-width: 760px;
    }

}

@media (min-width:580px) {
    .header .custom-container {
        width: 760px;
    }

}
.header-logo img{
    width: 235px;
    height: 136px;
}
.tel-1{
    font-size: 21px;
    font-family: "Segoe UI Bold";
    display: inline-block;
    margin-top: -3px;
}

.header-search-close{
    display: none;
}
.header-container{
    margin-top: 29px;
}
.header-elaqe{
    position: relative;
}
.header-elaqe img {
    position: absolute;
    top: 6px;
    left: -26px;
    width: 20px;
}
.header-logo {
    text-align: center;
    margin-left: -40px;
    margin-top: -1px;
}
img.logo-main {
    width: 150px;
}

.header-right {
    margin-top: 11px;
}

.header-top-search{
    margin-left: 11px;
    color: #000;
    font-size: 14px;
}
.header-search img{
    width:18px;
}
.mobile-text{
    color: #fff;
}
.header-search{
    display: none;
    margin-top: 6px;
    color: #000;
}
.header-search-input-container{

    background-color: #fff;
    max-width: 290px;
    min-width: 240px;

}
@media (min-width: 768px) {

    .header-search-input-container{
        margin-left: -21px;
    }
    .header-search-input-container:after {
        content: "";
        display: block;
        margin-left: 27px;
        width: 57%;
        border-bottom: 1px solid #8b7736;
    }
}
.header-search-input{
    border: none;
    margin-left: 23px;
    width:50%;
    padding: 6px 5px;
}
.header-search-button{
    border: none;
    background-color: #fff;
    cursor: pointer;
    margin-left: 35px;
}
.header-search-close{
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.header-search-close img{
    margin-bottom: 2px;
}
.navigation-menu{
    background-color: #8b7836;
}
.menu-item {
    padding: 6px 7px;
}
.menu-item a {
    color: #fff;
    font-size: 14px;
    position: relative;
    font-family: "Segoe UI Bold";
}


.nav2{
    display: none;
    position: absolute;
    background-color: #a39662;
    left: 0;
    width: 100%;
    text-align: center;
    padding-left: 19%;
}


.map iframe{
    width: 100%;
    height: 350px;
}
.pagination1 a{
    font-size: 12px;
    color: #8b7736;
}
.pagination1 i{
    font-size: 15px;
}
.pagination1{
    margin-top: 24px;
}
.pagination-mus a{
    font-size: 12px;
    color: #8b7736;
}
.pagination-mus i{
    font-size: 15px;
}
.inputs-word{
    margin-bottom: 0;
    margin-top: 32px;
    line-height: 14px;
    padding-left: 2px;
    font-size: 13px;
    color: #8b7736;
}
.search-2{
    background-color: transparent;
    border: 2px dotted #8b7736;
    height: 35px;
    border-radius: 15px;
    margin-top: 14px;
    margin-bottom: 24px;
    padding-bottom: 10px;
}
.search-btn{
    background-color: #8b7736;
    height: 35px;
    border-radius: 15px;
    margin-top: 14px;
    margin-bottom: 24px;
    padding-top: 3px;
    color: white;
    font-size: 14px;
    width: 139px;
}
.find-icon{
    margin-bottom: 7px;
}
.address{
    margin-top: 1.5em;
}
.address p{
    font-size: 11px;
    line-height: 0px;
}
.address h6{
    color: #8b7736;
    font-weight: bold;
    font-size: 14px;
}
.address a{
    color: #8b7736;
}
.pagination2{
    margin-top: 1.5em;
}
.pagination2 li{
    padding-right: 45px;
}

.pagination2 li.active a {
    background: #ccc;
    width: 100%;
    padding: 0px 7px;
    display: inline-block;
}
.pagination2 a{
    color: black;
    font-weight: bold;
}
@media screen and (max-width: 1024px){
    .pagination2 li{
        padding-right: 38px;
    }
}
@media screen and (max-width: 768px){
    .pagination2 li{
        padding-right: 30px;
    }
}
@media screen and (max-width: 425px){
    .pagination2 li{
        padding-right: 10px;
    }
}
.end-row{
    margin-top: 3em;
}
.bas a{
    color: #8b7736;
}
.pagination3 .arrow1{
    margin-left: 40px;
}
.pagination3 span{
    color: white;
    padding-left: 7px;
    font-weight: bold;
}
.pagination3 li{
    width: 26px;
    background-color: #8b7736;
    margin-left: 4px;
}
.son a{
    padding-left: 55px;
    color: #8b7736
}
@media screen and (max-width: 1024px){
    .son a{
        padding-left: 78px;
    }
}
@media screen and (max-width: 768px){
    .son a{
        padding-left: 102px;
    }
}
@media screen and (max-width: 425px){
    .son a{
        padding-left: 0px;
    }
    .son{
        text-align: left !important;
    }
    .pagination3 .arrow1{
        margin-left: 0px;
    }
    .end-row{
        margin-top: 1em;
    }
}
.menu-item2{
    float: left;
}
.menu-item2 a {
    z-index: 10;
    font-family: "Segoe UI";
    font-size: 14px;
    display: block;
    padding: 0 30px;
    margin:2px 0;
    border-right: 1px solid #fff;
}

.chevron {
    width: 7px;
    height: 7px;
    float: left;
    box-shadow: -2px 2px 0 rgba(255,255,255,0.5);
    transform: rotate(225deg);
    margin-top: 8px;
    position: absolute;
    left: 15px;
}
.chevron-down{
    transform: rotate(-45deg);
    margin-top: 2px;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}
.fields-of-activity-container .col-md-3.col-6 {
    padding-left: 8px;
    padding-right: 8px;
}
.fields-of-activity-container{ 
    margin-top:56px;
}

.fields-of-activity-item{
    text-align: center;
    display: block;
    transition: all ease 0.3s;
}

.fields-of-activity .custom-container
{
    max-width:860px;
}

.fields-of-activity-item:hover{
    box-shadow: 0px 0px 26px #CCC;
}
.fields-of-activity-item:hover .fields-of-activity-texts-container{
    background-color: #8b7736;
}
.fields-of-activity-text{
    padding-top: 25px;
    font-size: 18px;
    font-family: "Segoe UI Bold"!important;
    color: #fff;
}
.fields-of-activity-texts-container{
    background-color: #c1b790;
    padding-bottom: 26px;
    transition: all ease 0.3s;
    margin: 0 auto;
}
.fields-of-activity-more{
    text-decoration: underline;
    color: #fff;
    font-size:14px;
}
.carousel-caption{
    position: relative;
    top:-60px;
    left: 58%;
    max-width: 570px;
    margin-left: -385px;
    height: 175px;
}
.carousel-caption h5{
    font-size: 17px;
    font-family: "Segoe UI Bold";
    color: #fff;
    padding: 13px;
}
.carousel-control-prev-icon{
    background: url(../images/assets/left-arrow.png) no-repeat center center;
    width: 90px;
    height: 90px;
}
.carousel-prev-next{
    text-align: center;
    margin-top: 7px;
}
.more-news-button {
    display: inline-block;
    padding: 7px 7px;
    font-size: 14px;
    color: #444444;
    border: 1px solid #8b7736;
    border-radius: 22px;
}
.more-news-button:hover{
    color: #444444;
}
.carousel-prev{margin-top: 104px; 
margin-left: 15px;
}
.carousel-next{margin-top:104px; margin-right: 15px;}
.d-md-block{
}
.carousel-control-next-icon{
    background: url(../images/assets/right-arrow.png) no-repeat center center;
    width: 90px;
    height: 90px;
}
.carousel-caption p {
    margin: 0 83px;
}
.news-archive{
    margin-top: 6px;
    float: left;
    margin-left: 30px;
}
.news-archive a{
    color: #000;
    font-size: 14px;
    position: relative;
    top: 2px;
}
.main-head-image img{
    width: 100%;
    height: 305px;
}
.mini-nav{
    margin-top: 1em;
}
.show>.btn-primary.dropdown-toggle{
    background-color: white;
    border: none;
    color: #8b7736;
}
.btn-primary:focus{
    box-shadow: none;
}
.show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none;
}

.main-buttons>.open>a{
    background-color: #8b7736;
}
.dropdown-menu-show{
    padding: 5px;
    width: 85%;
    border-radius: 16px;
    background-color: white;
    text-align: center;
}
.dropdown-menu-show a{
    color: #8b7736;
    font-weight: bold;
    text-align: center;
}
.main-buttons{
    background-color: transparent;
    color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 20px;
    width: 15em;
}
.main-buttons:hover{
    background-color: white;
    color: #8b7736;
    border: 1px dotted #8b7736;
}
.main-srch-btn{
    background-color: transparent;
    border: none;
    padding-left: 0px;
    width: 30px;
}
.main-srch-inp{
    width: 90px;
    background-color: transparent;
    border: none;
    padding-left: 13px;
}
.main-srch{
    border: 1px dotted #8b7736;
    width: 129px;
    border-radius: 20px;
}


@media screen and (max-width: 425px){
    .main-buttons{
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 768px){
    .main-buttons{
        margin-left: 30px;
        margin-bottom: 1em;
    }
    .main-buttons2{
        margin-left: 30px;
    }
    .main-srch{
        margin-left: 30px;
    }
}
@media screen and (max-width: 570px){
    .main-icons{
        margin-left: 17px;
    }
    .icn{
        margin-bottom: 1em;
    }
}
.main-icons{
    margin-top: 2em;
}
.main-icons a{
    color: black;
}

.main-icons a:hover{
    color: white;
}

@media screen and (max-width: 425px){
    .main-buttons{
        margin-bottom: 1em;
    }
}
@media screen and (max-width: 768px){
    .main-buttons{
        margin-left: 30px;
        margin-bottom: 1em;
    }
    .main-buttons2{
        margin-left: 30px;
    }
    .main-srch{
        margin-left: 30px;
    }
}
@media screen and (max-width: 570px){
    .main-icons{
        margin-left: 17px;
    }
    .icn{
        margin-bottom: 1em;
    }
}
.info-line{
    color: black;
    font-size: 14px;
    line-height: 10px;
    margin-top: 20px;
}
.information{
    margin-top: 24px;
}
.information h3{
    font-weight: bold;
}
.information-word{
    border-bottom: 2px dotted #8b7736;
    padding-bottom: 24px;
}
.main-icons{
    margin-top: 2em;
}
.main-icons a{
    color: black;
}

.main-icons a:hover{
    color: white;
}
.icn1{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-125.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 67%;
    padding-top: 116px;
}


.icn1:hover{
    background-image: url(../images/assets/Icons-white/Untitled-1.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    padding-top: 116px;
}
.icn2{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-115.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% 65%;
    padding-top: 116px;
}


.icn2:hover{
    background-image: url(../images/assets/Icons-white/working-team.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    padding-top: 116px;
}
.icn3{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-116.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 66%;
    padding-top: 116px;
}


.icn3:hover{
    background-image: url(../images/assets/Icons-white/a.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    padding-top: 116px;
}
.icn4{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-117.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 66%;
    padding-top: 116px;
}

.icn4:hover{
    background-image: url(../images/assets/Icons-white/Untitled-2.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    padding-top: 116px;
}
.icn5{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-42.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 59%;
    padding-top: 111px;
}

.icn5:hover{
    background-image: url(../images/assets/Icons-white/Untitled-3.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 75%;
    padding-top: 111px;
}
.icn6{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-118.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 66% 55%;
    padding-top: 112px;
}

.icn6:hover{
    background-image: url(../images/assets/Icons-white/Untitled-4.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 75%;
    padding-top: 112px;
}
.icn7{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-119.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 53%;
    padding-top: 112px;
}

.icn7:hover{
    background-image: url(../images/assets/Icons-white/Untitled-5.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 65%;
    padding-top: 112px;
}
.icn8{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-120.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 54% 52%;
    padding-top: 112px;
}

.icn8:hover{
    background-image: url(../images/assets/Icons-white/Untitled-6.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 85% 73%;
    padding-top: 112px;
}
.icn9{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-121.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 54%;
    padding-top: 112px;
}

.icn9:hover{
    background-image: url(../images/assets/Icons-white/Untitled-7.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75% 70%;
    padding-top: 112px;
}
.icn10{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-122.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 54%;
    padding-top: 119px;
}

.icn10:hover{
    background-image: url(../images/assets/Icons-white/Untitled-8.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55% 70%;
    padding-top: 119px;
}
.icn11{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-123.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 54%;
    padding-top: 119px;
}

.icn11:hover{
    background-image: url(../images/assets/Icons-white/Untitled-.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55% 70%;
    padding-top: 119px;
}
.icn12{
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-image: url(../images/assets/icons/output-124.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% 54%;
    padding-top: 119px;
}

.icn12:hover{
    background-image: url(../images/assets/Icons-white/Untitled.png);
    background-color: #8b7736;
    border: 1px dotted #8b7736;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 63% 70%;
    padding-top: 119px;
}

.main-icons strong{
    padding-bottom: 5px;
    font-size: 12px;
    text-align: center;
    display: block;

}
.line-height{
    line-height: 14px;
    padding-bottom: 3px;
}
.head-words, .head-words2{
    font-weight: bold;
    margin: 24px auto;
    padding-left: 5px;
    color: black;
}
.head-words-qebul{
    font-weight: bold;
    margin: 1em auto;
    color: black;
}
.head-slider-words{
    font-weight: bold;
    margin: 24px auto;
    color: black;
}
.main{
    background-image: url(../images/assets/top/dotted.png), url(../images/assets/top/dotted.png);
    background-position: left top, right top;
    background-repeat: no-repeat;
    margin-top: -16px;
}
.about-video{
    margin-top: 2em;
    margin-bottom: 2em;
}
.source{
    font-size: 11px;
    font-style: italic;
    color: #8b7736;
}
.data{
    font-size: 11px;
    padding-left: 18px;
}
.data2{
    font-size: 11px;
}
.time{
    font-size: 11px;
    padding-left: 6px;
}
.fa-clock{
    font-size: 17px;
    color: #8b7736;
    padding-left: 25px;
}
.print{
    font-size: 11px;
    color: rgb(48, 47, 47);
    padding-left: 7px;
}
.fa-print{
    font-size: 15px;
    color: #8b7736;
}
.share{
    font-size: 11px;
    color: rgb(48, 47, 47);
    padding-left: 7px;
}
.fa-share{
    font-size: 15px;
    color: #8b7736;
    padding-left: 20px;
}
.blockquote{
    border-left: 3px solid #8b7736;
    padding-left: 2em;
    margin-left: 3em;
    font-size: 1em;
}
.iframes{
    margin-bottom: 8px;
}
.main-head-word{
    font-weight: bold;
    border-bottom: 1px solid #8b7736;
    padding-bottom: 11px;
    margin-left: 15px;
    color: black;
    margin-top: 1em;
    margin-bottom: 1em;
}

.main-foot-words{
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 2em;
    font-size: 17px;
}
.main-foot-words a{
    color: black;
}
@media screen and (max-width:768px){
    .blockquote{
        margin-left: 10px;
    }
}
@media screen and (max-width:425px){
    .blockquote{
        margin-left: 0px;
    }
}
.text-style-ul{
    background-color: white;
    border-radius: 5px;
    min-width: auto;
    width: 3rem;
}
.dropdown-toggle::after{
    margin-right: 3px;
}
.text-style-ul a{
    color: #8b7736;
    padding-left: 10px;
    font-weight: bold;
}
.text-style-ul li{
    width: 10px !important;
}
.text-style-btn{
    background-color: transparent;
    color: #8b7736;
    border: none;
    margin-left: 2.5em;
    padding: 0px;
}
@media screen and (max-width: 1199px){
    .text-style-btn{
        margin-left: 0.5em;
    }
}
.text-style-btn:hover{
    background-color: transparent;
    color: #8b7736;
}
.left-t{
    font-weight: bold;
    font-size: 0.8em;
    padding-left: 6px;
}
.right-t{
    font-weight: bold;
    font-size: 1.3em;
    margin-left: -2px;
}
@media screen and (max-width: 342px){
    .fa-clock{
        padding-left: 3px;
    }
}
@media screen and (max-width: 1024px){
    .main{
        background: none;
    }
}

@media screen and (max-width: 425px){
    .head-words2{
        font-size: 16px;
        padding-left: 12px;
    }
}
.main-foot-btn{
    margin-bottom: 1em;
    width: 165px;
    line-height: 18px;
    border-radius: 21px;
    background-color: #8b7736;
    box-shadow: 0px 10px 20px #aaa;
    color: white;
    font-size: 13px;
}
.main-foot-btn:hover{
    background-color: white;
    color: #8b7736;
}
.main-foot-btn2{
    width: 165px;
    line-height: 18px;
    border-radius: 21px;
    background-color: transparent;
    color: #8b7736;
    font-size: 13px;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 1px solid #8b7736;
}

.main-foot-btn2:hover{
    background-color: #8b7736;
    color: white;
}

.main-image-wrapper {
    position: relative;
    overflow: hidden;
}

.main-image-wrapper:hover .golden-layer {
    top: 0%;
}

.main-images{
    width: 100%;
    height: 100%;
    padding-bottom: 1em;
    margin-left: -27px;
    margin-bottom: 2em;
    position: relative;
    z-index: 1;
}
.golden-layer h5{
    font-weight: bold;
    text-align: center;
    padding-left: 40px;
    display: flex;
    justify-content: center;
    color: white;
    padding-top: 27%;
}
.golden-layer {
    position: absolute;
    left: -1em;
    top: 100%;
    width: 100%;
    height: 100%;
    background: rgba(139, 119, 54, .8);
    z-index: 2;
    margin-left: -25px;
    transition: all .5s;
}

.main-videos{
    width: 100%;
    margin-left: -41px;
    margin-bottom: 2em;
    height: 158px;
}
.main-images2{
    width: 100%;
    margin-left: -27px;
    margin-bottom: 2em;
}

.main-head-words{
    text-align: center;
    color: black;
    font-size: 21px;
}
.main-head-words h3{
    font-weight: bold;
    margin-bottom: 24px;
    margin-top: 24px;
}
.main-head-words span{
    color: #8b7736;
}
.panel-a{
    color: black;
    border-bottom: 1px dotted #8b7736;
    padding-bottom: 3px;
}
.panel-a a{
    font-size: 17px;
    color: black;
}
.number-p{
    display: inline;
}
.number-p2{
    display: inline;
    padding-left: 5px;
    margin-bottom: 1em;
}
.inputs-main{
    border: 1px solid #8b7736;
    border-radius: 21px;
    margin-top: 3em;
}
.inputs-main2{
    border: 1px solid #8b7736;
    border-radius: 21px;
}
.label-input-main{
    color: #8b7736;
    padding-left: 10px;
    font-weight: bold;
    margin-top: 2em;
}
.message-input-main{
    border: 1px solid #8b7736;
    border-radius: 21px;
    height: 200px;
    text-align: center;
}
.message-btn{
    width: 168px;
    line-height: 25px;
    border-radius: 21px;
    background-color: #8b7736;
    box-shadow: 0px 10px 20px #aaa;
    color: white;
    font-size: 15px;
    margin-top: 2em;
    margin-bottom: 1em;
    
}
@media screen and (max-width: 425px){
    .main-images{
        margin-left: 0px;
    }
}
@media screen and (max-width: 425px){
    .main-images2{
        margin-left: 0px;
    }
}
@media screen and (max-width: 768px){
    .main-videos{
        margin-left: 0px
    }
}

.info-container{
    display: none;
    text-align: center;
    background-color: #f3f1e7;
    margin-bottom: 44px;
    box-shadow: 0 23px 20px -10px #ccc ;
    margin-top: 80px;

}

.news-header{
    border-bottom: 1px solid #8b7736;
    width: 158px;
    padding-bottom: 10px;
    font-family: "Segoe UI Bold";
    font-size: 20px;
}
.news-header-container{
    margin-top: 84px;
    margin-bottom: 46px;
}
.carousel-caption{
    background-color: #c1b790;
}
.owl-prev{
    position: absolute;
    top: 45px;
    left: -71px;
}
.owl-next{
    position: absolute;
    top: 45px;
    right: -71px;
}
.owl-carousel{
    margin-bottom: 60px;
}
.footer-slider{
    position: relative;
}
.top-button{
    position: fixed;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 0px 29px #CCC;
    background-color: #fff;
    right: 33px;
    top: 420px;
    z-index: 11;
}
.top-button img {
    top: 10px;
    position: absolute;
    left: 9px;
}



.newsinner-content-texts-container a
{
    color:#8b7836;
}



footer.footer-container{margin-top: 60px;}
.nav-footer-item{
    color: #fff;
    font-size: 12px;
    padding-bottom: 10px;
}
.nav-fill .nav-item {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
}
.footer{
    background-color: #8b7736;
    padding-top: 40px;
}
.footer-menu-blocks-container{
    position: relative;
}
.footer-menu-item{
    color: #fff;
    font-size: 12px;
    padding-bottom:10px;
}
.footer-mobile-menu-item{
    color: #fff;
    font-size: 17px;
}
.footer-mobile-menu-block{
    position: absolute;
    top: 0px;
    left: 212px;
    display: none;
}
.footer-menu-item a {
    color: #fff;
    font-size: 14px;
}
.footer-menu-item-header{
    font-family: "Segoe UI Bold";
    font-size: 14px;
    padding-bottom: 10px;
}
.footer-contacts{
    margin-top:10px;
}
.footer-authors{
    margin-top: 10px;
    margin-bottom: 15px;
}
.footer-author-p1{
    margin-top: -60px;
    margin-bottom: 0;
    color: #fff;
    font-size: 12px;
}
@media screen and (max-width:767px){
    .footer-author-p1{
        margin-top: 0px;
    }
}

.footer-write-us{
    text-align: right;
    margin-top: 5px;
}
.footer-write-us-text{
    color: #fff;
}
.footer-tel{
    line-height: 0.7;
}

.view-text-active {
    color: #8b7736 !important;
}



.question1, .answer1{
    color: #8b7736;
}
.question2{
    line-height: 25px;
}
.answer2{
    line-height: 18px;
    border-bottom: 1px dotted #8b7736;
    padding-bottom: 1.5em;
}
.second-question{
    color: black;
    margin-top: 1em;
}
.second-question:hover{
    color: #8b7736;
}
.second-question p{
    border-bottom: 1px dotted #8b7736;
    padding-bottom: 13px;
}


.owl-carousel .owl-item img {
    display: block;

}
.owl-item .item img:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#click-table1 {
    display: block;
}

.news-main-page{
    margin-top: 53px !important;
}
.news-content-block{
    position: relative;
}
.news-time-container{
    position: relative;
    top: -23px;
    left: 202px;
}
.news-content-gallery .img-fluid{width:300px;height: 222px;}
.news-content-gallery{
    position: relative;
}
.news-content-gallery-play{
    position: absolute;
    left: 0;
    bottom: 0;
}
.news-content-block-date{
    margin-top: 30px;
    margin-bottom: 0;
    font-size: 14px;
}
.news-content-gallery-link{
    display: block;
}
.news-time-container img{
    margin-bottom: 3px;
    margin-right: 10px;
    width:20px;
}
.news-content-block-header{
    font-size: 17px;
    font-family: "Segoe UI Bold";
    color: #000;
    margin-top: 21px;
}
.news-content-block{
    margin-bottom: 104px;
}
.news-bottom-navigation-numbers-item{
    float: left;
    padding-right: 61px;
}
.news-bottom-navigation-numbers-link{
    font-size: 23px;
    color: #000;
}
.news-bottom-navigation-numbers-link:hover{
    color: #000;
}
.news-bottom-navigation-numbers-menu li:nth-child(10){
    padding-right: 0;
}
.news-bottom-navigation-numbers, .news-bottom-navigation-map{
    max-width: 686px;
    margin: 0 auto;
}
.news-bottom-prev-next{
    text-align: center;
}
.news-bottom-navigation-map-right{
    text-align: right;
}
.news-bottom-navigation-map-right-text, .news-bottom-navigation-map-left-text{
    font-size: 17px;
    color: #8b7736;
}
.news-bottom-navigation-map-right-link, .news-bottom-navigation-map-right-link{
    display: inline-block;
}
.news-bottom-navigation{
    margin-top: 46px;
    margin-bottom: 106px;
}
.news-bottom-navigation-numbers{
    margin-bottom: 51px;
}

.left{float: left;}
.right{float:right;}


.fields-of-activity{
    display: flex;
}
.fields-of-activity-item img {
    width: 100%;
    height: 15em;
    transition: all 1s;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.fields-of-activity-item:hover img {
    -webkit-filter: none;
    filter: none;
}
.carousel-item-link
{
    color:#fff;
}
.carousel-inner .container{margin-top: -20px;}
.slider-text {
    margin-right: 7px;
    margin-left: 5px;
    color:#fff;
    margin-top: 18px;
    height: 53px;
    overflow: hidden;
}
.slider-news-date {
    position: absolute;
    right: 3px;
/*    bottom: -70px; */
    color: #000;
    width: 100%;
    font-size: 14px;
}

.more-news-button {
    transition: all 0.08s ease-in;
    float:right;
    margin-right: 20px;
}
.more-news-button-mobile{
    display: none;
}

.more-news-button:hover {
    background: #8b7736;
    color: #fff;
}

.social-icons{
    margin-top: 1em;
    list-style: none;
    padding-left: 0;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.social-icons i{
    color: white;
}
.social-icons a{
    border-radius: 50%;
    border: 1px solid white;
    width: 35px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 34px;
    color: #444444;  
    transition: all 0.2s linear;
}
.social-icons a:hover{
    border: 1px solid #8b7736;
}