@media (max-width: 1070px){
    .owl-prev img{
        width: 60%;
    }
    .owl-prev{
        top: 54px;
        left: -50px;
    }
    .owl-next img{
        width: 60%;
    }
    .owl-next{
        top: 54px;
        right: -50px;
    }
}
@media (max-width: 442px)
{
    .more-news-button{
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    .fields-of-activity .container {
        max-width: 840px;
    }
}

@media (min-width: 1100px){
    /*Added*/
   /* .header .custom-container {
        margin-left: 200px;
    } */
}
@media (min-width: 1590px)
{
    .top-button
    {
        top: 560px;
    }
}

@media (min-width: 900px){
    .contacts-content-numbers-menu
    {
       /*     margin-left:270px; */
    }
}

@media (max-width: 860px)
{
    .carousel-caption{height: auto;}
}

@media (min-width: 765px)
{
.header-bottom-container{display: none;}
}
@media (max-width: 765px)
{
    .header{display: block;}
}
@media (max-width: 1100px)
{
 .left-bottom{display: none}
     .right-bottom{display: none}
    .left-top{display: none}
    .right-top{display: none}
    .right-bottom-search{display: none;}


}

@media (max-width: 768px)
{
    .header-container
    {
        margin-left: 0px;
        /*margin-top: 17px;*/
        margin-top: 23px;
        margin-bottom: 5px;
    }
}

@media (max-width: 768px)
{
    .custom-container.mobile-width-min .menu-container {
        height: 280px;
    }
    .header-center{
        margin-left: 47px;
    }
}

@media (max-width: 654px)
{
    .infrastructure-top-menu-block.col-sm-4.col-6 .infrastructure-top-menu-link
    {
/*        background: url("/images/assets/size3.svg");
        background-repeat: no-repeat; */
    }
}

@media (max-width: 700px)
{
    body
    {
        overflow-x:hidden;
    }
}

@media (min-width: 645px) and (max-width: 740px)
{
    /*
    .infrastructure-top-menu-image1{
        height: 19%!important;
    } */
}
@media (max-width: 310px)
{
    .infrastructure-top-menu-image1{
        /*height: 12%!important;*/
    }

}
@media (min-width: 310px) and (max-width: 575px)
{
    .infrastructure-top-menu-image1{
    /*    height: 25%!important; */
    }

}
@media (min-width: 768px) and (max-width: 991px) {
    .header-socials-twitter {
        margin-right: 0;
    }

    .header-top-search {
        margin-left: 8px;
    }
    .header-center-heading {
        font-size: 15px;
    }
    .header-elaqe img{
        top: 7px;
    }
    .header-elaqe {
        margin-left: 58px;
    }
    .tel-1{
        /*font-size: 36px;*/
        font-size: 18px;
    }
    .tel-2{
       /* top: 18px;*/
    }
    .menu-item a{
        font-size: 14px;
    }
    .chevron{
        width: 8px;
        height: 8px;
        margin-top: 6px;
    }
    .main-crosses-views {
        margin-top: 16px;
    }
    .about-content .custom-container{
        margin: 0 20px;
    }
    .contacts-content .custom-container{
        margin: 0 20px;
    }
    .news-content .custom-container{
        margin: 0 20px;
    }
    .profdevelop-content .custom-container{
        margin: 0 20px;
    }
    .infrastructure-content .custom-container{
        margin: 0 20px;
    }
    .search-content .custom-container{
        margin: 0 20px;
    }
    .documents-content .custom-container{
        margin: 0 20px;
    }
    .fields-of-activity-text{
        font-size: 17px;
        padding-top: 0;
    }
    .fields-of-activity-more{
        font-size: 14px;
    }
    .fields-of-activity-texts-container{
        padding-top: 18px;
    }
    .news-header-container{
        margin-left: 30px;
    }
    .news-header{
        font-size: 35px;
    }
    .apply-header{
        font-size: 31px;
        padding-top: 32px;
        padding-bottom: 10px;
    }
    .main-crosses-heading{
        font-size: 35px;
        padding-bottom: 18px;
    }
    .main-crosses-list img{
       right: 138px !important;
    }
    .main-crosses-picture img{
        right: 55px;
    }
    .main-crosses{
        margin: 0 30px;
    }

    .infrastructure-top-menu-image1{
        height: 104px;
       /* height: 40%;*/
    }
    .infrastructure-top-menu-image2{
        height: 104px;
    }
    .infrastructure-top-menu-image3{
        height: 104px;
    }
    .infrastructure-top-menu-image4{
        height: 104px;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image1{
        height: 104px;
        /*height: 40%;*/
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image2{
        height: 104px;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image3{
        height: 104px;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image4{
        height: 104px;
    }
    .footer-menu-item, .footer-menu-item a{
        font-size: 15px;
    }
    .top-button img{
        top: 10px;
        left: 9px;
    }
    .top-button{
        width: 50px;
        height: 50px;
    }
    .custom-apply-form-container{
        max-width: 535px;
    }
    .apply-form-name{
        margin: 15px 0;
        font-size: 15px;
    }
    .apply-form-item{
        padding: 7px 24px;
    }
    .carousel-caption{
        max-width: 550px;
        margin-left: -275px;
    }
    .carousel-caption h5{
        font-size: 20px;
    }
    .carousel-caption p{
        font-size: 14px;
    }
    .main-crosses-content-menu{
        max-width: 587px;
    }
    .footer-slider .custom-container{
        margin: 0 20px;
    }
    .owl-prev{
        top: 27px;
        left: -60px;
    }
    .owl-next{
        top: 27px;
        right: -60px;
    }
    .footer-menu-item, .footer-menu-item a {
        font-size: 14px;
    }



}
@media (max-width: 991px){
    .nav2{
      
    }
    .newsinner-top-right-dropdown-block{
        margin-left: 34px;
    }
    .infrastructure-top-menu-text{
        padding: 13px 5px;
    }
}
@media (max-width: 889px){

    .equipments-content-bottom-numbers{
        font-size: 60px;
    }
}
@media (max-width: 816px){
    .newsinner-content-top-left-tools-text{
        position: absolute;
        top: -72px;
    }
    .newsinner-content-container{
        padding-top: 72px;
    }
    .newsinner-content-top-left-tools-date{
        margin-left: 0;
    }
}
@media  (max-width: 767px) {

    .menu-item2
    {
        margin-top: -15px;
    }
    .mobile-menu-container{
        display: block;
    }
    .navigation-menu{
        display: none;
    }
    .header-left, .header-right{
        display: none;
    }
    .header-bottom-left, .header-bottom-right{
        display: block;
    }
    .header-elaqe {
        margin-left: 23px;
    }
    .header-mobile-socials-twitter {
        margin-right: 0px;
    }
    .menu-item{
        margin: 0 22%;
        min-width: 295px;
    }
    .chevron-1{
        left: 83px;
        top: 18px;
    }
    .chevron-2{
        left: 130px;
        top: 18px;
    }
    .chevron-3{
        left: 70px;
        top: 18px;
    }
    .menu-item a{
        /*font-size: 30px;*/
        font-size:20px;
    }
    .menu-item2 a {
        font-size: 17px;
    }
    .mobile-font-color{
        color: #c1b790 !important;
    }
    .menu-item{
        position: relative;
        margin: 0 0%;
    }
    .nav2{
        top: 60px;
        padding: 0;
        background: none;
        width: 449px;
        left: 0%;
        position: absolute;
    }
    .nav2-center{
        left: 18%;
    }

    .menu-item2 a{
        padding: 0 5px;
    }
    .fields-of-activity-texts-container{
        margin-bottom: 23px;
    }
    .carousel-caption p {
        display: none;
    }
    .carousel-caption{
        max-width: 603px;
        margin-left: -350px;
    }
    .apply-form-block{
        margin: 0 30px;
    }
    .apply-header {
        max-width: 444px;
        margin: 0 auto;
    }
    .close-form {
        right: 24px;
        top: 84px;
    }
    .all-list {
        margin-top: 37px;
    }
    .documents-normatives-container {
        text-align: left;
        margin: 53px 0 0 0;
    }
    .documents-table-abbreviations{
        padding-left: 0;
    }
    .main-crosses-views {
        margin-top: 16px;
    }
    .main-crosses-list img {
        right: 27px;
    }
    .main-crosses-view-text{
        display: none;
    }
    .all-list {
       position: static;
       text-align: center;
    }

    .news-header-container{
        margin-left: 35px;
        margin-top: 15px;
    }
    .custom-container{
        margin: 0 20px;
    }
    .about-content-scheme{
        display: none;
    }
    .about-content-scheme2{
        display: block;
        margin: 0 auto;
        margin-top: 47px;
    }
    .about-content-header{
        font-size: 25px;
    }
    .about-content-heading{
        margin-bottom: 80px;
    }
    .about-content-text{
        font-size: 17px;
    }
    .about-departments-block-text{
        font-size: 17px;
    }
    .about-content-missions-text{
        font-size: 17px;
    }
    .contacts-content-addres{
        width: 100%;
        margin-right: 0;
    }
    .contacts-content-faks{
        text-align: left;
        width: 50%;
        margin-right: 0 !important;
        padding-left: 10px;
    }
    .contacts-content-tel{
        text-align: right;
        width: 50%;
        margin-right: 0 !important;
        padding-right: 10px;
    }
    .news-content-block{
        max-width: 540px;
        margin: 0 auto;
        margin-bottom: 94px;
    }
    .news-time-container{
        text-align: right;
        left: 0;
    }
    .news-bottom-navigation-numbers-menu li:nth-child(8){
        display: none;
    }
    .news-bottom-navigation-numbers-menu li:nth-child(9){
        display: none;
    }
    .news-bottom-navigation-numbers-menu li:nth-child(10){
        display: none;
    }
    .news-bottom-navigation-numbers-menu li:nth-child(7){
        padding-right: 0;
    }
    .news-bottom-navigation-numbers-menu{
        max-width: 453px;
        margin: 0 auto;
    }
    .news-content-gallery-link img{
        width: 100%;
    }
    .newsinner-top-right-dropdown-block{
        display: none;
    }
    .newsinner-content-headers{
        margin-left: 1px;
        padding-left: 60px;
        margin-top: 17px;
    }
    .newsinner-time-container{
        text-align: right;
        left: 43px;
    }
    .newsinner-similar-time-container{
        text-align: right;
        left: 0;
    }
    .newsinner-content-block{
        max-width: 540px;
        margin: 0 auto;
        margin-bottom: 94px;
    }
    .newsinner-content-gallery-link img{
        width: 100%;
    }
    .profdevelop-top-menu-text{
        font-size: 17px;
        padding: 13px 5px;
    }
    .profdevelop-top-menu-image1{
        background-size: 75%;
    }
    .profdevelop-top-menu-image2{
        background-size: 75%;
    }
    .profdevelop-top-menu-image3{
        background-size: 75%;
    }
    .profdevelop-top-menu-image4{
        background-size: 75%;
    }
    .profdevelop-top-menu-link:hover .profdevelop-top-menu-image1{
        background-size: 75%;
    }
    .profdevelop-top-menu-link:hover .profdevelop-top-menu-image2{
        background-size: 75%;
    }
    .profdevelop-top-menu-link:hover .profdevelop-top-menu-image3{
        background-size: 75%;
    }
    .profdevelop-top-menu-link:hover .profdevelop-top-menu-image4{
        background-size: 75%;
    }
    .profdevelop-inner-top-right-counts-text{
        display: none;
    }
    .profdevelop-inner-top-right-img-mobile{
        display: block;
        margin-left: auto;
        margin-right: 50px;
    }

    .profdevelop-inner-top-right-img{
        right: 62px;
        top: -69px;
    }
    .infrastructure-top-menu-text{
        font-size: 12px;
        padding: 13px 5px;
    }
    .infrastructure-top-menu-image1{
        /*background-size: 75%;*/
       /* height: 25%;*/
    }
    .infrastructure-top-menu-image2{
        background-size: 75%;
    }
    .infrastructure-top-menu-image3{
        background-size: 75%;
    }
    .infrastructure-top-menu-image4{
        background-size: 75%;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image1{
        background-size: 75%;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image2{
        background-size: 75%;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image3{
        background-size: 75%;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image4{
        background-size: 75%;
    }
    .search-bottom-navigation-numbers-menu li:nth-child(8){
        display: none;
    }
    .search-bottom-navigation-numbers-menu li:nth-child(9){
        display: none;
    }
    .search-bottom-navigation-numbers-menu li:nth-child(10){
        display: none;
    }
    .search-bottom-navigation-numbers-menu li:nth-child(7){
        padding-right: 0;
    }
    .search-bottom-navigation-numbers-menu{
        max-width: 453px;
        margin: 0 auto;
    }
    .search-content-heading{
        margin-bottom: 36px;
    }
    .search-content-block-date{
        margin-bottom: 34px;
    }
    .documents-table-mobile-text{
        display: none;
    }
    .footer-menu-item{
      /*  display: none; */
    }
    .footer-menu-item-header{
        display: block;
        padding-bottom: 0;
    }
    .footer-mobile-menu-block{
        display: block;
    }
    .top-button{
        display: none !important;
    }
}
@media (max-width: 750px){
    .documents-content-table-container{
        overflow-x: scroll;
        max-width: 700px;
        padding-bottom: 20px;
    }
    .documents-content-table-container::-webkit-scrollbar-track{
        background-color: #f3f1e7;
        border-radius: 7px;
    }

    .documents-content-table-container::-webkit-scrollbar-thumb{
        outline: 0;
        border-radius: 7px;
        background-color: #8b7736;
    }
    .documents-content-table-container::-webkit-scrollbar{
        height: 7px;
        position: relative;
        left: -3px;
    }
    .documents-content-table{
        min-width: 700px;
    }
    .documents-tables-content{
        height: 300px;
    }
}
@media (max-width: 702px){
    .equipments-content-bottom-text{
        font-size: 23px;
    }
}
@media  (max-width: 660px){
    .carousel-caption{
        max-width: 356px;
       /* margin-left: -178px; */
        margin-left: -205px;
        top: -100px;
    }
    .carousel-caption h5{
        font-size: 15px;
    }

    .carousel-inner .container
    {
        margin-top: -60px;
    }
}
@media (max-width: 600px){
    .owl-next{
        margin-right: 30px;
    }
    .owl-prev{
        margin-left: 30px;
    }
    .owl-next img{
        top: -13px;
        left: 25px;
        position: relative;
    }
    .owl-prev img{
        top: -13px;
        right: 25px;
        position: relative;
    }
}

@media (max-width:355px) {
    .owl-prev img {
        top: -19px;
        right: 25px;
        position: relative;
    }
    .owl-next img {
        top: -19px;
        right: 25px;
        position: relative;
    }
}

@media (min-width: 765px)
{
    .news-content-block-header {
        width: 300px;
    }
}

@media (max-width: 689px){
    .newsinner-top-right-dropdown-block{
        margin-left: -1px;
    }
    .newsinner-time-container{
        left: 9px;
    }
    .newsinner-content-top-print-link{
        margin-left: 9px;
    }
    .documents-content-header {
        font-size: 28px;
    }

}
@media (max-width: 555px){
    .chevron-1{
        left: 13%;
    }
    .chevron-2{
        left: 24%;
    }
    .chevron-3{
        left: 11%;
    }
    .documents-content-header {
        font-size: 22px;
    }
}
@media    (max-width: 575px){
    .footer-authors{
        margin-bottom: 0;
        display: none;
    }
    .footer-authors2{
        display: block;
    }
    .footer-write-us{
        text-align: center;
    }
    .header-socials{
        text-align: center;
    }
    .apply-form-name {
        margin: 14px 0;
    }
    .apply-form-item {
        padding: 9px 28px;
    }
    .apply-form-block{
        margin: 0 10%;
    }
    .apply-header {
        max-width: 300px;
    }
    .apply-header {
        font-size: 35px;
    }
    .about-departments-block-text{
        margin-bottom: 35px;
    }
    .newsinner-content-top-tools-menu{
        max-width: 245px;
        margin: 0 auto;
    }
    .newsinner-top-right-share-text{
        display: none;
    }
    .newsinner-top-right-share-icon{
        position: relative;
    }

    .newsinner-top-right-print-text{
        display: none;
    }
    .newsinner-content-text{
        font-size: 17px;
    }
    .newsinner-header{
        font-size: 28px;
    }
    .newsinner-content-header {
        font-size: 20px;
    }
    .infrastructure-top-menu-block{
        max-width: 258px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .profdevelop-top-menu-block{
        max-width: 258px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .profdevelop-top-menu-image1{
        background-size: 45%;
    }
    .profdevelop-top-menu-image2{
        background-size: 45%;
    }
    .profdevelop-top-menu-image3{
        background-size: 45%;
    }
    .profdevelop-top-menu-image4{
        background-size: 45%;
    }
    .profdevelop-top-menu-link:hover .profdevelop-top-menu-image1{
        background-size: 45%;
    }
    .profdevelop-top-menu-link:hover .profdevelop-top-menu-image2{
        background-size: 45%;
    }
    .profdevelop-top-menu-link:hover .profdevelop-top-menu-image3{
        background-size: 45%;
    }
    .profdevelop-top-menu-link:hover .profdevelop-top-menu-image4{
        background-size: 45%;
    }
    .profdevelop-inner-top-right-img-mobile{
        margin-right: 30px;
    }
    .infrastructure-top-menu-image1{
       /* background-size: 33%; */
        background-size: 55%!important;
    }
    .infrastructure-top-menu-image2{
        background-size: 33%;
    }
    .infrastructure-top-menu-image3{
        background-size: 33%;
    }
    .infrastructure-top-menu-image4{
        background-size: 33%;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image1{
        background-size: 33%;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image2{
        background-size: 33%;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image3{
        background-size: 33%;
    }
    .infrastructure-top-menu-link:hover .infrastructure-top-menu-image4{
        background-size: 33%;
    }
    .equipments-content-bottom-text{
        font-size: 30px;
    }
    .equipments-content-bottom{
        margin-bottom: 20px;
    }
    .search-content-top-left-menu{
        margin: 0 auto;
        max-width: 260px;
    }
    .search-content-top-right{
        text-align: center !important;
    }
    .search-content-header{
        font-size: 28px;
    }
    .footer-mobile-menu-block{
        left: 180px;
    }
    .footer-menu-item{
       /* font-size: 15px; */
        font-size: 12px;
    }
    .footer-menu-item a{
       /* font-size: 15px; /

        */

        font-size: 12px;
    }
    .footer-mobile-menu-item{
        font-size: 15px;
    }
}
@media (max-width: 520px){
    .more-news-button {
        padding: 6px 9px;
        font-size: 13px;
    }
    .news-archive a {
        font-size: 13px;
        top: -3px;
    }
    .news-archive img{
        position: relative;
        top: -5px;
    }
    .carousel-prev-next{
        margin-top: 3px;
    }
    .carousel-control-next-icon {
        width: 25px;
        height: 25px;
    }
    .carousel-control-prev-icon {
        width: 25px;
        height: 25px;
    }
    .equipments-content-header{
        font-size: 26px;
    }
    .equipments-content-text{
       font-size: 17px;
    }
    .equipments-content-info-text{
        font-size: 17px;
    }

}
@media (max-width: 513px){
    .owl-prev{
        top: 39%;
    }
    .owl-next{
        top: 39%;
    }
    .news-bottom-navigation-numbers-menu li:nth-child(7){
        display: none;
    }
    .news-bottom-navigation-numbers-menu li:nth-child(6){
        padding-right: 0;
    }
    .news-bottom-navigation-numbers-menu{
       margin: 0 auto;
        max-width: 380px;
    }
    .search-bottom-navigation-numbers-menu li:nth-child(7){
        display: none;
    }
    .search-bottom-navigation-numbers-menu li:nth-child(6){
        padding-right: 0;
    }
    .search-bottom-navigation-numbers-menu{
        margin: 0 auto;
        max-width: 380px;
    }
}
@media  (max-width: 507px){
    .menu-item2 a {
        font-size: 13px;
    }
    .nav2{
        top: 54px;
        padding: 0;
        background: none;
        width: 373px;
        left: 13%;
        position: absolute;
    }
    .fields-of-activity-text{
        font-size: 17px;
        padding-top: 14px;
        margin-bottom: 7px;
    }
    .news-bottom-navigation-numbers-menu li:nth-child(6){
        display: none;
    }
    .news-bottom-navigation-numbers-menu li:nth-child(5){
        padding-right: 0;
    }
    .news-bottom-navigation-numbers-menu{
        margin: 0 auto;
        max-width: 307px;
    }
    .news-content-block-header {
        font-size: 22px;
        margin-top: 0px;
    }
    .newsinner-content-block-header {
        font-size: 22px;
        margin-top: 0px;
    }
    .newsinner-content-gallery-play img {
        width: 30px;
    }
    .news-content-gallery-play img {
        width: 30px;
    }
    .search-bottom-navigation-numbers-menu li:nth-child(6){
        display: none;
    }
    .search-bottom-navigation-numbers-menu li:nth-child(5){
        padding-right: 0;
    }
    .search-bottom-navigation-numbers-menu{
        margin: 0 auto;
        max-width: 307px;
    }
    .search-content-header{
        font-size: 26px;
    }
}
@media (max-width: 470px){
    .menu-item a {
      /*  font-size: 24px;
       */
        font-size:16px;
    }
    .chevron-1{
        left: 13%;
        top: 13px;
    }
    .chevron-2{
        left: 23%;
        top: 13px;
    }
    .chevron-3{
        left:10% ;
        top: 13px;
    }
    .mobile-custom-container {
        margin: 0 30px;
    }
    .menu-item2 a{
        font-size: 13px;
    }
    .header-elaqe {
        margin-left: 12px;
    }
    .header-mobile-socials-twitter {
        margin-right: -11px;
    }
    .apply-header {
        font-size: 26px;
        padding-bottom: 27px;
    }
    .close-form {
        top: 22px;
    }
    .documents-normatives-header {
        font-size: 17px;
    }
    .documents-normatives-item {
        font-size: 17px;
    }
    .contacts-content-tel{
        width: 100%;
        text-align: center;
        padding-right: 0;
    }
    .contacts-content-faks  {
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
    .main-crosses-heading {
        font-size: 20px;
        padding-bottom: 13px;
        width: 222px;
    }
    .main-crosses-picture img {
        right: 10px;
    }
    .main-crosses-list img {
        right: -10px;
    }
    .documents-content-tables-menu{
        max-width: 270px;
        margin: 0 auto;
    }
    .documents-content-tables-item {
        margin: 0 14px;
    }

}
@media (max-width: 442px){
    .documents-content-header {
        font-size: 19px;
    }
    .profdevelop-content-header {
        font-size: 28px;
    }
    .profdevelop-inner-top-right-text {
        font-size: 17px;
    }
    .profdevelop-inner-left-text {
        font-size: 17px;
        margin-top: 20px;
        margin-bottom: 18px;
    }
    .profdevelop-inner-right-text {
        font-size: 17px;
        margin-top: 20px;
    }
}
@media (max-width: 432px){
    .news-archive a {
        display: none;
    }
    .tel-2 {
        display: none;
    }
    .search-content-header{
        font-size: 22px;
    }
    .search-content-block-header {
        font-size: 22px;
    }
    .search-content-block-text {
        font-size: 17px;
    }

    .slider-news-date
    {
        position:initial;
    }
}


@media (max-width: 410px){
    .chevron-1{
        left: 2%;
        top: 15px;
    }
    .chevron-2{
        left: 16%;
        top: 15px;
    }
    .chevron-3{
        left:-1% ;
        top: 15px;
    }
    .nav2{
        left: 4%;
    }
    .menu-item2 a{
        font-size: 12px;
    }
    .mobile-custom-container {
        margin: 0 20px;
    }
    .header-elaqe {
        margin-left: 5px;
    }
    .header-mobile-socials-twitter {
        margin-right: -21px;
    }
    .carousel-caption {
        max-width: 318px;
        margin-left: -158px;
    }
    .carousel-caption h5 {
        font-size: 20px;
    }
    .slider-news-date {
        bottom: -62px;
    }
    .more-news-button-mobile{
        display: block;
    }
    .more-news-button-comp{
        display: none;
    }
    .more-news-button {
        padding: 4px 9px;
    }
}
@media (max-width: 390px){
    .footer-mobile-menu-block{
        position: relative;
        left: 0;
    }
    .header-search-input {
        width: 60%;
    }
    .header-search-input-container {
        min-width: 210px;
    }
    .fields-of-activity-text{
        font-size: 13px;
    }
    .fields-of-activity-more{
        font-size: 13px;
    }
    .fields-of-activity-texts-container{
        padding-bottom: 13px;
    }
    .carousel-caption {
        max-width: 250px;
        margin-left: -144px;
        top: -81px;
    }
    .carousel-caption h5 {
        font-size: 18px;
    }
    .slider-news-date {
        bottom: -44px;
    }
    .main-crosses-heading {
        font-size: 20px;
        padding-bottom: 5px;
        width: 173px;
    }
    .main-crosses-views {
        margin-top: 10px;
    }
    .main-crosses-list img {
        right: 2px;
    }
}
@media   (max-width: 375px){
    .news-bottom-navigation-numbers-item {
        padding-right: 44px;
    }
    .news-bottom-navigation-numbers-menu {
        max-width: 240px;
    }
    .search-bottom-navigation-numbers-item {
        float: left;
        padding-right: 44px;
    }
    .search-bottom-navigation-numbers-menu {
        max-width: 240px;
    }
    .server-top-share-text{
        display: none;
    }
    .server-top-print-text{
        display: none;
    }
    .server-top-print-icon{
        position: relative;
        right: -31px;
    }
    .server-top-right-dropdown {
        right: -11px;
    }

}
@media   (max-width: 361px){
    .menu-item2 a{
        font-size: 12px;
        margin-left: -1px;
    }
    .nav2{
        left: 4%;
    }
}

@media   (min-width: 991px){

}