<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="csrf-token" content="UzgxbEbbw6N8kbdiGZVNzSvaVT3WnahqSly1v6ic" />
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>mkm-1</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/js/owlcarousel/dist/assest/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/media.css' %}">
    <link rel="shortcut icon" href="{% static 'templates/images/favicon.ico' %}" type="image/x-icon" >
</head>
<body>
<!--HEADER BASLADI-->
<header>
    <div class="header">
        <div class="left-top"></div>
        <div class="custom-container">
            <div class="container header-container">
                <div class="row">
                    <div class="header-left col-md-3">
                        <div class="header-elaqe">
                            <img src="{% static 'templates/images/assets/tel.jpg' %}">
                            <span><a style="color: #656771;font-size: 15px;margin-left:5px;margin-top:3px;font-family:'Segoe UI'!important;" href="contact.html" class="tel-1">Əlaqə </a></span>
                        </div>
                    </div>
                    <div class="header-center col-md-6">
                        <div class="header-logo">
                            <a href="index.html"><img src="{% static 'templates/images/assets/logo2.png' %}"></a>
                        </div>
                    </div>
                    <div class="header-right col-md-3">
                        <div class="header-search-input-container">
                            <form action="#" method="GET">
                                <input class="header-search-input"  type="text" name="query" placeholder="Axtar">
                                <button class="header-search-button" type="submit"><img src="{% static 'templates/./images/assets/search-find.png' %}"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-top"></div>
    </div>
    <div class="mobile-menu-container">
        <div class="mobile-custom-container">
            <div class="row">
                <div class="mobile-header-left col-9 text-left">
                    <div class="mobile-header-left-container">
                        <div class="header-right-container">
                            <div class="header-search-container">
                                <a class="header-search" href="#"><img src="{% static 'templates/images/assets/search-find.png' %}"><span class="header-top-search  mobile-text">Axtarış</span>
                                </a>
                            </div>
                        </div>
                        <div class="header-search-input-container">
                            <form action="#" method="GET">
                                <input class="header-search-input" name="query" type="text" placeholder="Axtar">
                                <button type="button" class="header-search-close"><img src="{% static 'templates/images/assets/search-close.png' %}"></button>
                                <button class="header-search-button" type="submit"><img src="{% static 'templates/images/assets/search-find.png' %}"></button>
                            </form>

                        </div>
                    </div>
                </div>
                <div class="mobile-header-right col-3 text-right">
                    <div class="mobile-menu-button-container">
                            <span class="mobile-menu-button">
                                <span class="center-line"></span>
                            </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation-menu">
        <div class="container">
            <div class="custom-container mobile-width-min">
                <div class="menu-container ">
                    <ul class="nav justify-content-center nav-fill ">
                        <li class="menu-item nav-item">
                            <a class="nav-link"  href="#">Təhsil nazirliyi</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a class="nav-link"  href="#">İdarə</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a class="nav-link"  href="#">Müəssisələr</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a class="nav-link" target=_blank href="#">Media</a>
                        </li>
                        <li class=" menu-item menu-item-click nav-item">
                            <a class="nav-link" href="#">Əlaqə</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<!--HEADER BITDI-->

<!--MAIN BASLADI-->
<main>
    <section class="fields-of-activity">
        <div class="left-bottom"></div>
        <div class="container" style="float: left">
            <div class="custom-container">
                <div class="fields-of-activity-container">
                    <div class="row">
                        <div class="col-md-4 col-sm-3">
                            <a href="#" class="fields-of-activity-item">
                                <img class="img-fluid" data-hover-image="{% static 'templates/images/assets/mkm1-89.png' %}" data-image="{% static 'templates/images/assets/mkm1-89.png' %}"  src="{% static 'templates/images/assets/mkm1-89.png' %}">
                                <div class="fields-of-activity-texts-container">
                                    <p class="fields-of-activity-text">Müəssisələr</p>
                                    <span class="fields-of-activity-more">Ətraflı</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4 col-sm-3">
                            <a href="#" class="fields-of-activity-item">
                                <img class="img-fluid" data-hover-image="{% static 'templates/images/assets/mkm1-94.png' %}" data-image="{% static 'templates/images/assets/mkm1-94.png' %}"  src="{% static 'templates/images/assets/mkm1-94.png' %}">
                                <div class="fields-of-activity-texts-container">
                                    <p class="fields-of-activity-text">Tədbirlər</p>
                                    <span class="fields-of-activity-more">Ətraflı</span>
                                </div>
                            </a>
                        </div>
                        <div class=" col-md-4 col-sm-3">
                            <a href="#" class="fields-of-activity-item">
                                <img class="img-fluid" data-hover-image="{% static 'templates/images/assets/mkm1-99.png' %}" data-image="{% static 'templates/images/assets/mkm1-99.png' %}"  src="{% static 'templates/images/assets/mkm1-99.png' %}">
                                <div class="fields-of-activity-texts-container">
                                    <p class="fields-of-activity-text">Sənədlər</p>
                                    <span class="fields-of-activity-more">Ətraflı</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="right-bottom"></div>
    </section>
    <div style="clear:both"></div>
    <section class="news">
            <div class="custom-container">
                <div class="news-header-container">
                    <h3 class="news-header">Xəbərlər</h3>
                </div>
            </div>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div forward-url="#" class="carousel-item active">
                        <div>
                            <div class="carousel-img" style="background: url({% static 'templates/images/assets/mkm1-80.png' %})no-repeat center center;">
                                <a style="float: left" class="carousel-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a style="float: right" class="carousel-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                            <a href="#">
                                <div class="carousel-caption  d-md-block">
                                    <h5>Lorem ipsum dolor sit amet</h5>
                                    <p>Lorem ipsum dolor sit bamet Lorem ipsum dolor sit ametLorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                                </div>
                            </a>
                        <div class="container">
                            <div class="custom-container">
                                <div class="row">
                                    <div class="more-news text-center col-4">
                                        <a href="javascript:void(0)" class="more-news-button">Daha ətraflı</a>
                                    </div>
                                    <div class="carousel-prev-next text-center col-4">
                                        <div class="slider-news-date">Çərşənbə , 9 Yanvar 2019</div>
                                    </div>
                                    <div class="news-archive-container text-center col-4">
                                        <div class="news-archive">
                                            <img src="{% static 'templates/images/assets/archive.png' %}">
                                            <a href="#">Xəbər arxivi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div forward-url="#" class="carousel-item ">
                        <div>
                            <div class="carousel-img" style="background: url({% static 'templates/images/assets/mkm1-80.png' %})no-repeat center center;">
                                <a style="float: left" class="carousel-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a style="float: right" class="carousel-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <a href="https://ict.edu.az/news/53">
                            <div class="carousel-caption  d-md-block">
                                <h5>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h5>
                                <p> Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                        <div class="container">
                            <div class="custom-container">
                                <div class="row">
                                    <div class="more-news text-center col-4">
                                        <a href="javascript:void(0)" class="more-news-button">Daha ətraflı</a>
                                    </div>
                                    <div class="carousel-prev-next text-center col-4">
                                        <div class="slider-news-date">Çərşənbə , 9 Yanvar 2019</div>
                                    </div>
                                    <div class="news-archive-container text-center col-4">
                                        <div class="news-archive">
                                            <img src="https://ict.edu.az/images/assets/archive.png">
                                            <a href="https://ict.edu.az/news">Xəbər arxivi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div forward-url="https://ict.edu.az/news/52" class="carousel-item ">
                        <div>
                            <div class="carousel-img" style="background: url({% static 'templates/images/assets/mkm1-80.png' %})no-repeat center center;">
                                <a style="float: left" class="carousel-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>    
                                <a style="float: right" class="carousel-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <a href="https://ict.edu.az/news/52">
                            <div class="carousel-caption  d-md-block">
                                <h5>Lorem ipsum dolor sit amet</h5>
                                <p> Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                        <div class="container">
                            <div class="custom-container">
                                <div class="row">
                                    <div class="more-news text-center col-4">
                                        <a href="javascript:void(0)" class="more-news-button">Daha ətraflı</a>
                                    </div>
                                    <div class="carousel-prev-next text-center col-4">
                                        <div class="slider-news-date">Bazar ertəsi , 7 Yanvar 2019</div>
                                    </div>
                                    <div class="news-archive-container text-center col-4">
                                        <div class="news-archive">
                                            <img src="https://ict.edu.az/images/assets/archive.png">
                                            <a href="https://ict.edu.az/news">Xəbər arxivi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div forward-url="https://ict.edu.az/news/51" class="carousel-item ">
                        <div>
                            <div class="carousel-img" style="background: url({% static 'templates/images/assets/mkm1-80.png' %})no-repeat center center;">
                                <a style="float: left" class="carousel-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a style="float: right" class="carousel-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                      </div>
                        <a href="https://ict.edu.az/news/51">
                            <div class="carousel-caption  d-md-block">
                                <h5>Lorem ipsum dolor sit amet</h5>
                                <p>  Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                        <div class="container">
                            <div class="custom-container">
                                <div class="row">
                                    <div class="more-news text-center col-4">
                                        <a href="javascript:void(0)" class="more-news-button">Daha ətraflı</a>
                                    </div>
                                    <div class="carousel-prev-next text-center col-4">
                                        <div class="slider-news-date">Cümə , 28 Dekabr 2018</div>
                                    </div>
                                    <div class="news-archive-container text-center col-4">
                                        <div class="news-archive">
                                            <img src="https://ict.edu.az/images/assets/archive.png">
                                            <a href="https://ict.edu.az/news">Xəbər arxivi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div forward-url="https://ict.edu.az/news/50" class="carousel-item ">
                        <div>
                            <div class="carousel-img" style="background: url({% static 'templates/images/assets/mkm1-80.png' %})no-repeat center center;">
                                <a style="float: left" class="carousel-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a style="float: right" class="carousel-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <a href="https://ict.edu.az/news/50">
                            <div class="carousel-caption  d-md-block">
                                <h5>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h5>
                                <p> Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                        <div class="container">
                            <div class="custom-container">
                                <div class="row">
                                    <div class="more-news text-center col-4">
                                        <a href="javascript:void(0)" class="more-news-button">Daha ətraflı</a>
                                    </div>
                                    <div class="carousel-prev-next text-center col-4">
                                        <div class="slider-news-date">Çərşənbə , 26 Dekabr 2018</div>
                                    </div>
                                    <div class="news-archive-container text-center col-4">
                                        <div class="news-archive">
                                            <img src="https://ict.edu.az/images/assets/archive.png">
                                            <a href="https://ict.edu.az/news">Xəbər arxivi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div forward-url="https://ict.edu.az/news/49" class="carousel-item ">
                        <div>
                            <div class="carousel-img" style="background: url({% static 'templates/images/assets/mkm1-80.png' %})no-repeat center center;">
                                <a style="float: left" class="carousel-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a style="float: right" class="carousel-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <a href="https://ict.edu.az/news/49">
                            <div class="carousel-caption  d-md-block">
                                <h5>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h5>
                                <p> Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                        <div class="container" style="">
                            <div class="custom-container">
                                <div class="row">
                                    <div class="more-news text-center col-4">
                                        <a href="javascript:void(0)" class="more-news-button">Daha ətraflı</a>
                                    </div>
                                    <div class="carousel-prev-next text-center col-4">
                                        <div class="slider-news-date">Cümə , 21 Dekabr 2018</div>
                                    </div>
                                    <div class="news-archive-container text-center col-4">
                                        <div class="news-archive">
                                            <img src="https://ict.edu.az/images/assets/archive.png">
                                            <a href="https://ict.edu.az/news">Xəbər arxivi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div forward-url="https://ict.edu.az/news/48" class="carousel-item ">
                        <div>
                            <div class="carousel-img" style="background: url({% static 'templates/images/assets/mkm1-80.png' %})no-repeat center center;">
                                <a style="float: left" class="carousel-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a style="float: right" class="carousel-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <a href="https://ict.edu.az/news/48">
                            <div class="carousel-caption  d-md-block">
                                <h5>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet</h5>
                                <p>  Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                        <div class="container" style="">
                            <div class="custom-container">
                                <div class="row">
                                    <div class="more-news text-center col-4">
                                        <a href="javascript:void(0)" class="more-news-button">Daha ətraflı</a>
                                    </div>
                                    <div class="carousel-prev-next text-center col-4">
                                        <div class="slider-news-date">Çərşənbə , 12 Dekabr 2018</div>
                                    </div>
                                    <div class="news-archive-container text-center col-4">
                                        <div class="news-archive">
                                            <img src="https://ict.edu.az/images/assets/archive.png">
                                            <a href="https://ict.edu.az/news">Xəbər arxivi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div forward-url="https://ict.edu.az/news/47" class="carousel-item ">
                        <div>
                            <div class="carousel-img" style="background: url({% static 'templates/images/assets/mkm1-80.png' %})no-repeat center center;">
                                <a style="float: left" class="carousel-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>    
                                <a style="float: right" class="carousel-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                        <a href="https://ict.edu.az/news/47">
                            <div class="carousel-caption  d-md-block">  
                                <h5>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet </h5>
                                <p> Lorem ipsum dolor sit amet </p>
                            </div>
                        </a>
                        <div class="container">
                            <div class="custom-container">
                                <div class="row">
                                    <div class="more-news text-center col-4">
                                        <a href="javascript:void(0)" class="more-news-button">Daha ətraflı</a>
                                    </div>
                                    <div class="carousel-prev-next text-center col-4">
                                        <div class="slider-news-date">Çərşənbə , 12 Dekabr 2018</div>
                                    </div>
                                    <div class="news-archive-container text-center col-4">
                                        <div class="news-archive">
                                            <img src="https://ict.edu.az/images/assets/archive.png">
                                            <a href="https://ict.edu.az/news">Xəbər arxivi</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                                    
                </div>
            </div>
        </section>
</main>
<!--MAIN BITDI-->

<!--FOOTER BASLADI-->
<footer class="footer-container">
    <div class="footer-slider">
        <div class="container">
            <div class="custom-container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="owl-carousel owl-theme">
                            <div class="item">
                                <a target="_blank" href="http://heydaraliyevcenter.az">
                                    <img src="{% static 'templates/images/banner/new/HA_Center_Banner.jpg' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a target="_blank" href="http://president.az">
                                    <img src="{% static 'templates/images/banner/new/President_Banner.jpg' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a target="_blank" href="http://mehriban-aliyeva.az">
                                    <img src="{% static 'templates/images/banner/new/MA_Banner_c.jpg' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a target="_blank" href="http://edu.gov.az">
                                    <img src="{% static 'templates/images/banner/new/MA_Banner.png' %}">
                                </a>
                            </div>
                            <div class="item">
                                <a target="_blank" href="https://heydar-aliyev-foundation.org">
                                    <img src="{% static 'templates/images/banner/new/HAF_Banner.jpg' %}">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--KOD ELAVESI-->
        <!--KOD ELAVESI BURDA BITDI-->

        <a id="scroll-top" href="#">
            <div class="top-button">
                <img src="{% static 'templates/images/assets/up-arrow.png' %}">
            </div>
        </a>
    </div>
    <div class="footer">
        <div class="custom-container">
            <div class="container">
                <div class="row">
                    <div class="footer-menu col-md-3 col-6">
                        <ul class="footer-menu-block">
                            <li class="footer-menu-item footer-menu-item-header foot-mobile-tab">İdarə haqqında</li>
                            <li class="footer-menu-item"><a href="#">Struktur</a></li>
                            <li class="footer-menu-item"><a href="/news">Xəbərlər</a></li>
                            
                        </ul>
                    </div>
                    <div class="footer-menu col-md-3 col-6">
                        <ul class="footer-menu-block">
                            <li class="footer-menu-item footer-menu-item-header foot-mobile-tab">Sənədlər</li>
                            <li class="footer-menu-item"><a href="#">Normativlər</a></li>
                            <li class="footer-menu-item"><a href="#">Reqlamentlər</a></li>
                            <li class="footer-menu-item"><a href="#">Kibertəhlükəsizlik siyasəti</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu col-md-3 col-6">
                        <ul class="footer-menu-block">
                            <li class="footer-menu-item footer-menu-item-header foot-mobile-tab">Fəaliyyət sahələri</li>
                            <li class="footer-menu-item"><a href="#">İnfrastruktur</a></li>
                            <li class="footer-menu-item"><a href="#">e-İdarəetmə</a></li>
                            <li class="footer-menu-item"><a href="#">e-Məzmun</a></li>
                            <li class="footer-menu-item"><a href="#">Peşəkar İnkişaf</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-6">
                        <ul class="footer-menu-block">
                            <li class="footer-menu-item"><a href="/contact">Əlaqə</a></li>
                            <li class="footer-menu-item">Azadlıq prospekti 909</li>
                            <li class="footer-menu-item">+99412 565 02 37</li>
                            <li class="footer-menu-item footer-tel">+99412 565 02 38</li>
                            <li class="social-icons"> <a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li class="social-icons"><a href="#"><i class="fab fa-twitter"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="footer-authors col-lg-6 col-md-6">
                        <p class="footer-author-p1">Copyright © 2010 Azərbaycan Respublikasında təhsil sisteminin informasiyalaşdırılması üzrə dövlət proqramı</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--FOOTER BITDI-->
<script type="text/javascript" src="{% static 'templates/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'templates/css/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'templates/js/owlcarousel/dist/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'templates/js/main.js' %}"></script>
</body>
</html>