<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="UzgxbEbbw6N8kbdiGZVNzSvaVT3WnahqSly1v6ic" />
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Haqqimizda</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'js/owlcarousel/dist/assest/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon" />
</head>
<body>
    <!--Header basladi-->
    {% include 'layouts/header.html' %}
    <!--Header bitdi-->

    <!--MAIN BASLADI-->
<main>
        <div class="main-head-image">
            <img src="{{company.about_images.url}}" alt="{{company.company_name}}">
        </div>
        <div class="container">
            <div class="row mini-nav">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                    <ul class="pagination pagination1">
                    <li><a href="{% url 'homepage' %}"><i class="fas fa-home home-icon"></i> <span>&gt;</span> </a></li>
                    <li><a href="{% url 'companies' %}"> Müəssisələr <span>&gt;</span> </a></li>
                    <li><a href="{% url 'company' company_id %}"> {{company.company_name}} <span>&gt;</span> </a></li>
                    <li><a href="{% url 'about' company_id %}">Haqqımızda</a></li>
                </ul>
                </div>
                <div class="col-lg-6"></div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-4"></div>
                <div class="col-lg-2 col-md-2">
                    <h3 class="head-words">Haqqımızda</h3>
                </div>
                <div class="col-lg-5 col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>
                        {{ company.about | safe }}
                    </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                {% if company.about_images %}
               <div class="col-lg-8">
                    <img src="{{ company.about_images.url }}" alt="">
                </div>
                {% endif %}
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-3"></div>
                <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
                    <h5 class="head-words2">İdarənin əsas vəzifələri aşağıdakılardır :</h5>
                </div>
                <div class="col-lg-3 col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>
                        {{company.main_duties | safe}}
                    </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </main>
    <!--MAIN BITDI-->

    <!--Footer basladi-->
    {% include 'layouts/footer.html' %}
    <!--Footer bitdi-->
        
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.6/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owlcarousel/dist/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>