<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="UzgxbEbbw6N8kbdiGZVNzSvaVT3WnahqSly1v6ic" />
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Haqqimizda</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/js/owlcarousel/dist/assest/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/media.css' %}">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body>
    <!--Header basladi-->
    {% include 'layouts/header.html' %}
    <!--Header bitdi-->

    <!--MAIN BASLADI-->
<main>
        <div class="main-head-image">
            <img src="{% static 'templates/images/assets/output-45.png' %}" alt="img-head">
        </div>
        <div class="container">
            <div class="row mini-nav">
                <div class="col-lg-2"></div>
                <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                    <ul class="pagination pagination1">
                    <li><a href="{% url 'homepage' %}"><i class="fas fa-home home-icon"></i> <span>&gt;</span> </a></li>
                    <li><a href="{% url 'companies' %}"> Müəssisələr <span>&gt;</span> </a></li>
                    <li><a href="{% url 'company' company_id %}"> {{company.company_name}} <span>&gt;</span> </a></li>
                    <li><a href="{% url 'about' company_id %}">Haqqımızda</a></li>
                </ul>
                </div>
                <div class="col-lg-6"></div>
            </div>
            <div class="row">
                <div class="col-lg-5 col-md-4"></div>
                <div class="col-lg-2 col-md-2">
                    <h3 class="head-words">Haqqımızda</h3>
                </div>
                <div class="col-lg-5 col-md-6"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam officiis accusamus, omnis magnam dignissimos quos sint vero impedit harum. Molestias, ipsam et. Architecto sapiente qui laboriosam quasi, aliquid maxime nobis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum quam, eligendi ullam soluta modi sequi. Dicta rerum delectus sunt, aperiam natus consequatur sed debitis, voluptas rem molestias enim placeat culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam, quam consectetur. Necessitatibus repellat labore, dolor veritatis laborum quisquam inventore! Aliquam doloremque accusamus quia minima rerum rem itaque fugiat delectus at.
                        <br><br>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio officia repellendus maxime deleniti laborum. Suscipit, quod aspernatur debitis inventore qui enim sunt ipsa ad minus perferendis sed tempora, ut molestias? Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quis ut alias minima et esse repudiandae natus corrupti fugiat harum accusamus, officiis quia, debitis commodi amet nesciunt. Autem, aperiam quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eos reprehenderit officia maxime? Unde atque, voluptates dolorem optio debitis ratione nihil, officiis ipsum in facilis, dignissimos voluptatem accusantium provident corporis?
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam ipsam doloremque, in ea ullam quis aliquam veritatis et modi recusandae minima voluptate temporibus, quas molestias odio illum iste corrupti nesciunt.
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae ipsam pariatur ea perspiciatis nostrum se
                    </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <img src="{% static 'templates/images/assets/Layer0.png' %}" alt="structure">
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-3"></div>
                <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
                    <h5 class="head-words2">İdarənin əsas vəzifələri aşağıdakılardır :</h5>
                </div>
                <div class="col-lg-3 col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat quia enim eos exercitationem deserunt error totam quisquam vel natus, nulla dolorum labore ab! Vitae ad repellat minima cumque voluptates aspernatur.
                        <br><br>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reprehenderit ipsum dolorem pariatur animi voluptatem ipsa deserunt provident ducimus temporibus eum, recusandae corrupti officiis iure sunt quas, id sed ullam fugiat!
                        <br><br>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse animi dolores facere pariatur molestiae non? Ipsam, amet ea obcaecati explicabo voluptas aperiam! Quis ipsam nihil pariatur optio tempore similique voluptatum.
                    </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-5"></div>
                <div class="col-lg-2">
                    <button type="button" class="btn main-foot-btn">Əsasnəməni yüklə</button>
                </div>
                <div class="col-lg-5"></div>
            </div>
        </div>
    </main>
    <!--MAIN BITDI-->

    <!--Footer basladi-->
    {% include 'layouts/footer.html' %}
    <!--Footer bitdi-->
        
<script type="text/javascript" src="{% static 'templates/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.6/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="{% static 'templates/css/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'templates/js/owlcarousel/dist/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'templates/js/main.js' %}"></script>
</body>
</html>