{% extends "about.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}

<div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    {% if company.about_images %}
                        <img src="{{ company.about_images.url }}" alt="">
                    {% endif %}
                </div>
                <div class="col-lg-2"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-3"></div>
                <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
                    <h5 class="head-words2">İdarənin əsas vəzifələri aşağıdakılardır :</h5>
                </div>
                <div class="col-lg-3 col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>
                        {{company.main_duties | safe}}
                    </p>
                </div>
                <div class="col-lg-2"></div>
            </div>
{% endblock %}