<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="UzgxbEbbw6N8kbdiGZVNzSvaVT3WnahqSly1v6ic" />
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Muessiseler</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/js/owlcarousel/dist/assest/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/media.css' %}">
    <link rel="shortcut icon" href="{% static 'templates/images/favicon.ico' %}" type="image/x-icon" />
</head>
<body>
<!--HEADER BASLADI-->
{% include 'layouts/header.html' %}
<!--HEADER BITDI-->

<!--MAIN BASLADI-->
<main>
    <div class="main-head-image">
        <img src="{% static 'templates/images/assets/output-45.png' %}" alt="img-head">
    </div>
    <div class="container">
        <div class="row mini-nav">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <ul class="pagination pagination1">
                    <li><a href="{% url 'homepage' %}"><i class="fas fa-home home-icon"></i> <span>&gt;</span> </a></li>
                    <li><a href="{% url 'companies' %}"> Müəssisələr <span>&gt;</span> </a></li>
                    <li><a href="{% url 'company' company_id %}"> {{company.company_name}}</a></li>
                </ul>
            </div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
                <div class="dropdown col-lg-3 col-md-4">
                    <button class="btn btn-primary dropdown-toggle main-buttons" type="button" data-toggle="dropdown"><a>Fəaliyyət istiqamətləri</a>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-show">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
                <div class="dropdown col-lg-3 col-md-4">
                    <button class="btn btn-primary dropdown-toggle main-buttons main-buttons2" type="button" data-toggle="dropdown">Təşkil olunduğu yerlər
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu dropdown-menu-show">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
                <div class="input-group col-lg-3 col-md-4">
                    <form class="main-srch">
                        <input class="main-srch-inp" type="text" placeholder="Axtar">
                            <button class="btn btn-default main-srch-btn" type="submit">
                                <img src="{% static 'templates/images/assets/search-find.png' %}">
                            </button>
                    </form>
                </div>
            <div class="col-lg-1"></div>
        </div>
        <div class="row main-icons">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <div class="icn">
                    <a href="{% url 'about' company_id %}"><span><img class="icn-img1" src="{% static 'templates/images/assets/icons/output-125.png' %}" alt=""><strong>Haqqımızda</strong></span></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <div class="icn">
                    <a href="{% url 'administration' company_id %}"><span><img class="icn-img2" src="{% static 'templates/images/assets/icons/output-115.png' %}" alt=""><strong>Rəhbərlik</strong></span></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <div class="icn">
                    <a href="{% url 'achievements' company_id %}"><span><img class="icn-img3" src="{% static 'templates/images/assets/icons/output-116.png' %}" alt=""><strong>Nailiyyətlərimiz</strong></span></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                <div class="icn">
                    <a href="{% url 'medalist' company_id %}"><span><img class="icn-img4" src="{% static 'templates/images/assets/icons/output-117.png' %}" alt=""><strong>Medal alanlar</strong></span></a>
                </div>
            </div>
        </div>
        <div class="row main-icons">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-sm-6">
                <div class="icn">
                    <a href="{% url 'distinguished_ones' company_id %}"><span><img class="icn-img5" src="{% static 'templates/images/assets/icons/output-42.png' %}" alt=""><strong>Fərqlənən yetirmələr</strong></span></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-sm-6">
                <div class="icn">
                    <a href="{% url 'projects_events' company_id %}"><span><img class="icn-img6" src="{% static 'templates/images/assets/icons/output-118.png' %}" alt=""><strong>Layihə və tədbirlər</strong></span></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-sm-6">
                <div class="icn">
                    <a href="{% url 'legislation' company_id %}"><span><img class="icn-img7" src="{% static 'templates/images/assets/icons/output-119.png' %}" alt=""><strong>Qanunvericilik</strong></span></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6 col-sm-6">
                <div class="icn">
                    <a href="{% url 'admission' company_id %}"><span><img class="icn-img8" src="{% static 'templates/images/assets/icons/output-120.png' %}" alt=""><strong>Qəbul qaydaları</strong></span></a>
                </div>
            </div>
        </div>
        <div class="row main-icons">
            <div class="col-lg-2"></div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="icn">
                    <a href="{% url 'faq' company_id %}"><span><img class="icn-img9" src="{% static 'templates/images/assets/icons/output-121.png' %}" alt=""><strong>Tez-tez<br>verilən suallar</strong></span></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="icn">
                    <a href="{% url 'photo_galleries' company_id %}"><span><img class="icn-img10" src="{% static 'templates/images/assets/icons/output-122.png' %}" alt=""><strong>Fotoqalereya</strong></span></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="icn">
                    <a href="{% url 'video_gallery' company_id %}"><span><img class="icn-img11" src="{% static 'templates/images/assets/icons/output-123.png' %}" alt=""><strong>Videoqalereya</strong></span></a>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="icn">
                    <a href="{% url 'contact_company' company_id %}"><span><img class="icn-img12" src="{% static 'templates/images/assets/icons/output-124.png' %}" alt=""><strong>Əlaqə</strong></span></a>
                </div>
            </div>
        </div>
    </div>
</main>
<!--MAIN BITDI-->

<!--FOOTER BASLADI-->
{% include 'layouts/footer.html' %}
    <!--FOOTER BITDI-->
    <script type="text/javascript" src="{% static 'templates/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'templates/css/bootstrap/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'templates/js/owlcarousel/dist/owl.carousel.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'templates/js/main.js' %}"></script>
    </body>
    </html>