<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="UzgxbEbbw6N8kbdiGZVNzSvaVT3WnahqSly1v6ic" />
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xəbərlər</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'js/owlcarousel/dist/assest/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/media.css' %}">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body>
<!--HEADER BASLADI-->
{% include 'layouts/header.html' %}
<!--HEADER BITDI-->

<!--MAIN BASLADI-->
<main class="main">
    <div class="container">
        <div class="row mini-nav">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <ul class="pagination pagination1">
                            <li><a href="{% url 'homepage' %}"><i class="fas fa-home home-icon"></i> <span>&gt;</span> </a></li>
                            <li><a href="{% url 'news' %}">Xəbərlər</a></li>
                        </ul>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="main-head-div">
                <h3 class="main-head-word">Xəbərlər</h3>
            </div>
            <div class="col-lg-10"></div>
        </div>
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
            <div class="col-lg-8">
            <div class="row">
            {% for n in news %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <a href="{% url 'news_detailed' n.id %}"><img src="/media/{{n.news_picture}}" width="100%" height="150px"></a>
                <span class="data2">{{ n.publish_date|date:'D d M Y' }}</span>
                <i class="far fa-clock"></i><span class="time">{{ n.publish_date|date:'H:m' }}</span>
                <h3 class="main-foot-words"><a href="{% url 'news_detailed' n.id %}">{{n.title}}</h3></a>
            </div>
            {% endfor %}
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12"></div>
               
            </div>
            </div>
        </div>
        {% if paginator.num_pages > 1 %}
        <div class="row">
                <div class="col-lg-3 col-md-3"></div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <ul class="pagination pagination2">
                        {% for i in paginator.page_range %}
                            <li {% if i == paginator. %}class="active"{% endif %}><a href="?page={{i}}">{{i}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-3 col-md-2"></div>
            </div>
            <div class="row end-row">
                <div class="col-lg-3 col-md-3"></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <ul class="bas">
                        <li><a href="?page=1">Başlanğıc</a></li>
                    </ul>
                </div>
                
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4">
                    <ul class="pagination pagination3">
                        <li class="arrow1"><a href="?page={% if news.has_previous %}{{news.previous_page_number}}{% else %}1{% endif %}"><span>&lt;</span></a></li>
                        <li><a href="?page={% if news.has_next %}{{news.next_page_number}}{% else %}{{paginator.num_pages}}{% endif %}"><span>&gt;</span></a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <ul class="text-center son">
                        <li><a href="?page={{paginator.num_pages}}">Son</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3"></div>
            </div>
    </div>
    {% endif  %}
</main>
<!--MAIN BITDI-->

<!--FOOTER BASLADI-->
{% include 'layouts/footer.html' %}
<!--FOOTER BITDI-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.6/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owlcarousel/dist/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>