<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="csrf-token" content="UzgxbEbbw6N8kbdiGZVNzSvaVT3WnahqSly1v6ic" />
    <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Layihe ve tedbirler</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/js/owlcarousel/dist/assest/owl.carousel.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'templates/css/lightslider.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'templates/css/print.css' %}" type="text/css" media="print" />
    <link rel="stylesheet" type="text/css" href="{% static 'templates/css/media.css' %}">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>
<body>
<!--HEADER BASLADI-->
{% include 'layouts/header.html'  %}

<!--MAIN BASLADI-->
<main class="main">
    <div class="container">
        <div class="row mini-nav none-print">
            <div class="col-lg-2"></div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12">
                <ul class="pagination pagination1">
                        <li><a href="{% url 'homepage' %}"><i class="fas fa-home home-icon"></i> <span>&gt;</span> </a></li>
                        <li><a href="{% url 'companies' %}"> Müəssisələr <span>&gt;</span> </a></li>
                        <li><a href="{% url 'company' company_id %}"> {{company.company_name}} <span>&gt;</span> </a></li>
                        <li><a href="{% url 'projects_events' company_id %}">Layihe ve tedbirler</a></li>
                    </ul>
            </div>
            <div class="col-lg-6"></div>
        </div>
        <div class="row none-print">
            <div class="col-lg-2 col-md-2"></div>
            <div class="col-lg-8 col-md-8">
                <h3 class="text-center head-slider-words">{{company_projects_events.title}}</h3>
            </div>
            <div class="col-lg-2 col-md-2"></div>
        </div>
        <div class="row none-print">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <ul id="image-gallery">
                    <li data-thumb="{{company_projects_events.news_picture}}" data-src="{{company_projects_events.news_picture}}"> 
                        <img width="100%" height="315" src="{{company_projects_events.news_picture}}">
                    </li>
                    <li data-thumb="{{company_projects_events.news_picture}}" data-src="{{company_projects_events.news_picture}}"> 
                        <img width="100%" height="315" src="{{company_projects_events.news_picture}}">
                    </li>
                    <li data-thumb="images/assets/mkm1-94.png" data-src="images/assets/mkm1-94.png"> 
                        <img width="100%" height="315" src="images/assets/mkm1-94.png">
                    </li>
                    <li data-thumb="images/assets/mkm1-94.png" data-src="images/assets/mkm1-94.png"> 
                        <img width="100%" height="315" src="images/assets/mkm1-94.png">
                    </li>
                    <li data-thumb="images/assets/mkm1-94.png" data-src="images/assets/mkm1-94.png"> 
                        <img width="100%" height="315" src="images/assets/mkm1-94.png">
                    </li>
                    <li data-thumb="images/assets/mkm1-94.png" data-src="images/assets/mkm1-94.png"> 
                        <img width="100%" height="315" src="images/assets/mkm1-94.png">
                    </li>
                    <li data-thumb="images/assets/mkm1-94.png" data-src="images/assets/mkm1-94.png"> 
                        <img width="100%" height="315" src="images/assets/mkm1-94.png">
                    </li>
                    <li data-thumb="images/assets/mkm1-94.png" data-src="images/assets/mkm1-94.png"> 
                        <img width="100%" height="315" src="images/assets/mkm1-94.png">
                    </li>
                    <li data-thumb="images/assets/mkm1-94.png" data-src="images/assets/mkm1-94.png"> 
                        <img width="100%" height="315" src="images/assets/mkm1-94.png">
                    </li>
                </ul>
            </div>	
        </div>
        <div class="row about-video none-print">
            <div class="col-lg-2"></div>
            <div class="col-lg-5 col-md-8">
                <span class="source">Mənbə:{{company_projects_events.short_description}}</span>
                <span class="data">{{ company_projects_events.publish_date|date:'d:M:Y' }}</span>
                <i class="far fa-clock"></i><span class="time">{{ company_projects_events.publish_date|date:'H:m' }}</span>
            </div>
            <div class="col-lg-3 col-md-4">
                <i class="fas fa-print"></i><a class="print" href="javascript:window.print()">Çap et</a>
                <i class="fas fa-share"></i><a class="share" href="#">Paylaş</a>
                    <button class="btn btn-primary dropdown-toggle text-style-btn" type="button"data-toggle="dropdown"><small class="left-t">T</small><span class="right-t">T</span><span id="change_size_sbox_text" style="font-size:0.8em;margin-left:5px;"></span>
                    <span class="caret"></span></button>
                    <ul class="dropdown-menu text-style-ul" id="change_size_sbox">
                        <li class="active"><a data-val="1" href="#">1x</a></li>
                        <li><a data-val="1.2" href="#">1.2x</a></li>
                        <li><a data-val="1.5" href="#">1.5x</a></li>
                        <li><a data-val="2" href="#">2x</a></li>
                        <li><a data-val="2.2" href="#">2.2x</a></li>
                    </ul>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row print">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" id="page_content">
                <p class="blockquote">{{company_projects_events.long_description |safe}}</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8" id="page_content">
                <p>{{company_projects_events.text |safe}}</p>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <div class="row none-print">
            <div class="col-lg-2"></div>
            <div class="main-head-div">
                <h3 class="main-head-word">Oxşar tədbirlər</h3>
            </div>
            <div class="col-lg-10"></div>
        </div>
        <div class="row none-print">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <iframe class="iframes" width="100%" height="150px" src="https://www.youtube.com/embed/zzL50mpxIAw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <span class="data2">{{ company_projects_events.publish_date|date:'D d M Y' }}</span>
                <i class="far fa-clock"></i><span class="time">{{ company_projects_events.publish_date|date:'H:m' }}</span>
                <h3 class="main-foot-words">Lorem ipsum dolor sit amet, consectetur adipisicing elit. . Placeat, sit debitis!</h3>
            </div>
            <div class="col-lg-4">
                <iframe class="iframes" width="100%" height="150px" src="https://www.youtube.com/embed/cOgZemzR6u8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <span class="data2">{{ company_projects_events.publish_date|date:'D d M Y' }}</span>
                <i class="far fa-clock"></i><span class="time">{{ company_projects_events.publish_date|date:'H:m' }}</span>
                <h3 class="main-foot-words">Lorem ipsum dolor sit amet consectetur adipisicing elit. fevibero? Aliquam eum min</h3>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
</main>
<!--MAIN BITDI-->

<!--FOOTER BASLADI-->
    {% include 'layouts/footer.html' %}
<!--FOOTER BITDI-->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'templates/js/jquery-3.3.1.min.js' %}"></script>
<script type="text/javascript" src="https://unpkg.com/popper.js@1.14.6/dist/umd/popper.min.js"></script>
<script type="text/javascript" src="{% static 'templates/css/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'templates/js/owlcarousel/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'templates/js/lightslider.js' %}"></script>
<script type="text/javascript">
    $('#image-gallery').lightSlider({
        gallery:true,
        item:1,
        loop:true,
        thumbItem:9,
        slideMargin:0,
        enableDrag: true,
        controls: true,
        currentPagerPosition:'left',
        onSliderLoad: function(el) {
            el.lightGallery({
                selector: '#image-gallery .lslide'
            });
        }   
    });

    $('#change_size_sbox li a').on("click", function(e){
        $('#change_size_sbox_text').html($(this).html())
        let size = $(this).data('val') + 'em';
        $('#page_content p, #page_content blockquote').css({
            fontSize: size
        })

        e.preventDefault()
    })
  </script>
<script type="text/javascript" src="{% static 'templates/js/main.js' %}"></script>
</body>
</html>